
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-confirm"  style="display: none" )
		+b.modal-win.text-center
			.h2.strong.mb-3 Подтвердите электронную почту
			p.small.mb-4 Чтобы воспользоваться функционалом ChatFood вам необходимо подтвердить регистрацию.
			+e.btn-close.modal-close-js Закрыть
			
	// #modal-call
	div(id="modal-alarm"  style="display: none" )
		+b.modal-win--aside
			+e.head
				.h2.strong.mb-3 Уведомления
				p.small.mb-4.text-secondary Пометить все как прочитанные
			+e.body
				mixin item(t)
					+b.alert-item&attributes(attributes)
						.small.mb-1= t
						.smallest.text-secondary 15 минут назад
						+e.dots
							+icon('dots')
							+e.dropdown
								+e.dropdown-item Пометить как прочитанное
								+e.dropdown-item Удалить

				+item('Промокод на скидку 15% на следующий месяц').--new
				- for (var x = 0; x < 3; x++)
					+item('Промокод на скидку 15% на следующий месяц')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц') 
			+e.footer
				button.btn.btn-outline-orange.w-100 Загрузить еще
			
	// #modal-call
	
	// end modals