
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-confirm"  style="display: none" )
		+b.modal-win.text-center
			.h2.strong.mb-3 Подтвердите электронную почту
			p.small.mb-4 Чтобы воспользоваться функционалом ChatFood вам необходимо подтвердить регистрацию.
			+e.btn-close.modal-close-js Закрыть
			
	// #modal-call
	div(id="modal-alarm"  style="display: none" )
		+b.modal-win--aside
			+e.head
				.h2.strong.mb-3 Уведомления
				p.small.mb-4
					a.text-secondary(href="#")  Пометить все как прочитанные
			+e.body
				mixin item(t)
					+b.alert-item&attributes(attributes)
						.small.mb-1
							a.text-body(href="#")= t
						.smallest.text-secondary 15 минут назад
						+e.dots
							+icon('dots')
							+e.dropdown
								+e.dropdown-item Пометить как прочитанное
								+e.dropdown-item Удалить

				+item('Промокод на скидку 15% на следующий месяц').--new
				- for (var x = 0; x < 3; x++)
					+item('Промокод на скидку 15% на следующий месяц')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц и скидка 50% при оплате на год')
					+item('Промокод на скидку 15% на следующий месяц') 
			+e.footer
				button.btn.btn-outline-orange.w-100 Загрузить еще
			
	// #modal-call
	
	div(id="modal-tarif"  style="display: none" )
		+b.modal-win.text-center
			.h2.strong.mb-3 Смена тарифа
			p.small.mb-4 У&nbsp;вас уже подключен тариф #[strong Standart], вы&nbsp;уверены, что хотите изменить тариф на&nbsp;#[strong.newTarif Free]? Тариф можно изменять только раз в&nbsp;сутки. При смене тарифа будет произведен перерасчет.
			.row
				.col-6
					button.btn.btn-outline-orange.w-100 Подтвердить
					
				.col-6
					button.btn.btn-orange.modal-close-js.w-100 Отменить
	// #modal-call
	
	div(id="modal-add-bonus"  style="display: none" )
		+b.modal-win.text-center
			.h2.strong.mb-3 Подтвердите начисление бонусов
			p.small.mb-4 Выбрано 3 клиента(-ов).
			+form-wrap
				+input("Например, 250")
					span.text-after  ₽
				.row
					.col-6
						button.btn.btn-outline-orange.w-100 Отменить
						
					.col-6
						button.btn.btn-orange.w-100 Начислить
			
	// #modal-add-bonus
	div(id="modal-mail"  style="display: none" )
		+b.modal-win--mail
			.h2.strong.mb-3 Рассылка
			+form-wrap
				+input("Начните писать сообщение...",'textarea')
				.row.gy-2
					.col.text-secondary.align-self-end.text-sm-start.text-center.small 0/1600 символов
						
					.col-sm-auto
						button.btn.btn-primary.w-100(data-src="modal-mail" data-fancybox="modal")
							+icon("telegram")
							| Отправить сообщение

			
	// #modal-mail
	
	// end modals