.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px; 
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper { 
	position: relative;
	width: 100%;
	// overflow: hidden;
	// display: flex;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: rem(12);
		height: rem(12);
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		padding-right: rem(8);
		// margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
			transform: scale(1.04);
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет тета */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	--bs-primary: #DEDEDE;
 
  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary) transparent;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 16px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	
	// @include row-sw(10px, sm, 100px);
}




// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }
.btn-primary,
.btn-orange{
	--bs-btn-color: #fff; --bs-btn-hover-color: #fff
}

.btn{
	--bs-btn-active-color: var(--bs-btn-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);
	--bs-btn-disabled-bg: var(--bs-btn-hover-bg);
	--bs-btn-disabled-border-color: var(--bs-btn-hover-bg);
}

.btn{
	font-weight: bold;
}
.btn-success{
	--bs-btn-color: #fff; 
	--bs-btn-hover-color: #fff; 
	--bs-btn-active-color: #fff;
	--bs-btn-disabled-color: #8C8D8F;
    --bs-btn-disabled-bg: #F6F6F6;
    --bs-btn-disabled-border-color: #F6F6F6;
}


.btn-outline-primary,
.btn-outline-orange { 
	--bs-btn-hover-color: #fff; 
	--bs-btn-active-color: var(--bs-btn-hover-color); 
}

.btn-light{
	--bs-btn-hover-bg: #f8f8f8; 
	--bs-btn-hover-border-color: #f8f8f8; 
}
.btn-outline-gray{
	--bs-btn-color: #{$body-color}; 
	--bs-btn-hover-bg: #f8f8f8; 
	--bs-btn-hover-border-color: #f8f8f8; 
}
.btn-add{
	font-weight: normal;
	padding-left: rem(20);
	padding-right: rem(20);
	.icon{
		color: $orange;
		margin-right: rem(10);
	}
}
.btn-primary{

}
.btn
// ,
// .form-control,
// .form-select
{
	box-shadow: none !important;
}

.container-fluid{
	@include media-breakpoint-down(md) {
		--bs-gutter-x: 30px;
	}
	@include media-breakpoint-up(xl) {
		// margin: 0;
		max-width: calc(1500px + var(--bs-gutter-x));
	}
	
	@include media-breakpoint-up(md) {
		max-width: calc(700px + var(--bs-gutter-x));
	}

}

.icon{
	font-size: rem(24);
}

.fancybox__content :focus:not(.carousel__button.is-close){
	outline: none !important;
}
.main-center-wrap{
	position: relative;
	overflow: hidden;
	flex-grow: 1;
}
.main-wrapper{
	display: flex;
	main{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: flex-start;
	}
	footer{
		margin-top: auto;
	}
	position: relative;
}



.show-sidebar{
	overflow: hidden;
	@include media-breakpoint-down(lg) {
	main{
		transform: translateX(calc(var(--nav-chat-w) + var(--nav-main-w)));
	}
	}
}

aside{
	display: flex;
	list-style: none;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 100vh;
	@include media-breakpoint-up(xl) {
		transform: none !important;
		position: sticky;
	}
	position: fixed;
	@include mt;

	transform: translateX(-100%);
	&.active{
		transform: translateX(0);

	}
	@include media-breakpoint-up(xxl) {
		padding-right: 0;
	}
	// padding-right: rem(40 + 40);
}
main{
	transition: transform .15s ease-in-out;
}


.alert{
	border: none;
	.icon{
		&-info_square{
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
	a{
		display: inline-block;
		white-space: nowrap;
	}
}

.alert-orange{
	--bs-alert-color: var(--bs-orange);
}



.container-main{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.mb-20{
	margin-bottom: rem(20);
}

.centered-block{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;

}
.w-sp{
	white-space: nowrap;
}
.smallest{
	font-size: 14px;
}
.alert-item{
	position: relative;
	.small{
		@include mt;
	}
	&:not(.alert-item--new):hover {
		.small{
			opacity: 0.8;
		}
	}
	&--new{
		.small{
			font-weight: bold;
			&::before{
				content: '';
				display: inline-block;
				width: rem(5);
				height: rem(5);
				border-radius: 50%;
				margin-right: rem(5);
				background-color: $orange;
				position: relative;
				top: rem(-2);
			}
		}
	}
	&:not(:last-child){
		border-bottom: 1px solid #EBEBEB;
	}
	padding: rem(20);
	&__dots{
		position: absolute;
		top: rem(5);
		right: 0;
		&.active{
			// --show: 1;
		}
		.icon{
				cursor: pointer;
				color: #c2c2c2;
				@include mt;
				&:hover{
					color: $orange;
				}
		}
	}
	&__dropdown-item{
		cursor: pointer;
		@include mt;
		&:hover{
			background: rgba($color: #F6F6F6, $alpha: .5);
		}
		&:not(:last-child) {
			border-bottom: 1px solid #E8E8E8;

		}
		padding: rem(10) rem(21);
		width: max-content;
		min-width: 100%;
		font-size: rem(14);
	}
	&__dropdown{
		background: #FFFFFF; 
		border: 1px solid #E8E8E8;
		box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
		border-radius: 8px;
		position: absolute;
		right: 0;
		top: 100%;
		// @include mt;
		&:not(.active) {
			display: none;
		}
		// visibility: var(--show, hidden);
		// opacity: var(--show, 0);
		// display: none;
		z-index: 4;
	}

}

.cabinet-block{
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(xxl) {
		
		// padding-left: rem(60);
		// padding-right: rem(60);
	}
	@include media-breakpoint-up(lg){
		
		// padding-left: 40px;
		// padding-right: 40px;
		min-height: 100vh;
		border-left: 1px solid #EBEBEB;
		// max-width: rem(640 + 120);
		max-width: 760px;
		
	}
	width: 100%;
	max-width: 490px;
	padding-left: var(--cabinet-x);
	padding-right: var(--cabinet-x);
	position: relative;
	&__head{
		margin-bottom: rem(40);
		// position: relative;
		&.row{
			align-items: center;
			--bs-gutter-y: 10px
		}
		.link-close{
			@include media-breakpoint-down(sm) {
				position: absolute;
				right: 15px;
				top: 15px;
			}
			@include media-breakpoint-up(sm) {

				right: rem(-60);
			}
		}
	}

	ol{
		counter-reset: num;
		padding-left: 0;
		max-width: rem(640);
		li{
			list-style: none;
			margin-bottom: rem(15);
			position: relative; 
			padding-left: rem(40);
			&::before {
				content: counter(num);
				counter-increment: num;
				width: rem(30);
				height: rem(30);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				top: rem(-5);
				background: #F6F6F6;
				font-size: 14px;
			}
		}
	}
}

.link-close{
	position: relative;
	@include media-breakpoint-up(sm){

		width: rem(50);
		height: rem(50);
	}
	width: 30px;
	height: 30px;
	border-radius: 50%;
	@extend .btn, .btn-outline-light;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	--bs-btn-border-color: #EBEBEB;
	--bs-btn-bg: transparent;
	--bs-btn-color: #C2C2C2;

	--bs-btn-hover-bg: var(--bs-btn-bg);
				--bs-btn-hover-border-color: var(--bs-btn-color);
	.icon{
		@include media-breakpoint-up(sm){

			font-size: 1rem;
		}
		font-size: 12px;
		color: #c2c2c2;
	}
}

.form-control:disabled {
cursor:no-drop;
}

.save-alert{
	position: fixed;
	@include mt;
	@include media-breakpoint-up(sm) {
		
		right: rem(60);
		bottom: rem(40);
		width: rem(312);
		padding: rem(24);
	}
	padding: 14px 18px;
	right: 15px;
	width: calc(100% - 30px);
	bottom: 15px;
	background: #FFFFFF ;
	border-radius: 1rem 1rem 0 0;
	border: 1px solid #EBEBEB;
	border-bottom: 3px solid #EBEBEB;
	box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
	display: flex;
	align-items: center;
	@include mt;
	&:not(.active) {
		transform: translateY(calc(100% + 100px));
	}
	&__progress{
		content: '';
		// width: var(--size, 100%);
		width: 100%;
		height: 3px;
		background-color: $orange;
		position: absolute;
		bottom: rem(-3);
		left: 0;
		transform-origin: left;
	}
	&__close{
		cursor: pointer;
		color: #c2c2c2;
		@include mt;
		position: absolute;
		top: rem(20);
		right: rem(20);
		.icon{
			font-size: 1rem;

		}
		&:hover{
			opacity: 0.8;
		}
	}
	.icon-square_checked{
		color: $success;
		font-size: rem(50);
		margin-right: rem(10);
	}
}

.avatar-block{
	display: flex !important;
	align-items: center;
	margin-bottom: rem(20);
	position: relative;
	cursor: pointer;
	input{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		
	}
	&:not(.active){
		.avatar-block__btn-delete,
		img{
			display: none;
		} 
	}
	&__btn-delete{
		color: #fff;
		@include a-cent1;
		background-color: rgba($body-color, 0.3);
		border-radius: 50%;
		width: rem(50);
		z-index: 2;
		height: rem(50);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
		@include  mt;
		&:hover{
			background-color: rgba($body-color, 1);
			
		}
		.icon{
			font-size: rem(24) !important;
		}
	}
	&__img-wrap{
		&:hover{
			.avatar-block__btn-delete{
				background-color: rgba($body-color, 1);
			}
		}
		width: rem(120px);
		height: rem(120px);
		border-radius: 50%;
		background: #F6F6F6;
		margin-right: rem(20);
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #c2c2c2;
		overflow: hidden;position: relative;
		z-index: 2;
		img{
			z-index: 4;
		}
		.icon{
			font-size: rem(80);
			position: relative;
			z-index: -1;
		}
	
		
	}
	.btn{

	}
}

.alert{
	font-size: 14px;
}

.btn-200{
	width: rem(200);
}
@include media-breakpoint-down(sm) {

	.btn-mob-100{
		width: 100%;
	}
}


.tooltip-wrap{
	// position: relative;
	display: inline-block;
	&:hover{
		--show: 1;
	}
	&__toggle{
		cursor: pointer;
		width: rem(20);
		height: rem(20);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		background: #F6F6F6;
		color: #8C8D8F;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		justify-content: center;
	}
	// &__dropdown{
	// 	position: absolute;
	// 	@include a-cent1(x);
	// 	bottom: calc(100% +  12px);
	// 	background: rgba($color: #191C1F, $alpha: .7);
	// 	border-radius: 6px;
	// 	color: #fff;text-align: center;
	// 	width: rem(130);
	// 	font-size: 12px;
	// 	line-height: 1;
	// 	padding: rem(10);
	// 	line-height: calc(14 / 12);
	// 	@include mt;
	// 	opacity: var(--show, 0);
	// 	visibility: var(--show, hidden);
	// 	@include media-breakpoint-down(md){
	// 		margin-left: 20px;
	// 	}
	// 	&::before{
	// 		content: '';
	// 		top: 100%;
	// 		@include a-cent1(x);
	// 		@include triangle(10px, rgba($color: #191C1F, $alpha: .7), down);
	// 		@include media-breakpoint-down(md){
	// 			margin-left: -20px;
	// 		}
	// 	}
	// }
}

.alert{
	svg{
		[stroke] {

			stroke: currentColor !important;
		}
		[fill]{
			fill: currentColor !important;
			
		}
	}
}


#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

 

.tooltip{
	// width: 200px;
	// @include mt;
}

.bs-tooltip-top .tooltip-arrow {
  bottom: 0;

  &::before {
    top: 0 
  }
  }

	.mt-20{
		margin-top: 20px;
	}


	.ghost {
		opacity: .05;
		background: $primary;
	}
	
	