
:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(xxl) {
		--bs-body-font-size: #{$em-base} !important;
	}
	// --bs-body-font-size: 14px !important;

	@include media-breakpoint-up(md) {

		--sPT: #{rem(67)};
		--sPB: #{rem(60)};
	}
	--sPT: 30px;
	--sPB: 30px;
	--sTPB: #{rem(40)};
	
	// --sPT: #{rem(80 * .5)};
	// --sPB: #{rem(90 * .5)};
	// --sTPB: #{rem(40 * .5)};

	--fancybox-content-color: var(--bs-body-color);


		--swiperArrowSize: #{rem(68)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;


	--fancybox-bg: rgba(24, 24, 27, .77);


	--nav-chat-w: #{rem(80)};
	@include media-breakpoint-up(xl) {
	}
	// --nav-main-w: #{rem(200)};
	--nav-main-w: #{rem(240)};
	
	@include media-breakpoint-up(xl) {

		--link-hide: #{rem(40)};
	}
	  //  --carousel-button-width: 48px;
	  //  --carousel-button-height: 48px;

	  //  --carousel-button-svg-width: 24px;
	  //  --carousel-button-svg-height: 24px;

	  //  --carousel-button-svg-stroke-width: 2.5;
	  //  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));
		--check: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5904 3.62083L17.4485 2.70178C16.8857 2.2494 16.5585 2.25464 16.0766 2.84987L7.77709 13.0923L3.91471 9.88321C3.38185 9.43559 3.04852 9.4594 2.61042 10.007L1.72899 11.1546C1.28185 11.7175 1.33899 12.037 1.86757 12.4784L7.37233 17.0318C7.93899 17.508 8.25804 17.4589 8.69614 16.9261L18.7338 4.99226C19.2052 4.42559 19.1766 4.08702 18.5904 3.62083Z' fill='%234BB14B'/%3E%3C/svg%3E%0A");
		--close: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.07104 2.9292L17.2132 17.0713' stroke='%23FF2C2C' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.07104 17.0708L17.2132 2.92866' stroke='%23FF2C2C' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

		--infinity: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0634 5.06348C13.7459 5.06348 12.5071 5.57656 11.5941 6.48731L9.99886 8.01857L8.42761 6.51017C7.49629 5.57656 6.25529 5.06348 4.93658 5.06348C3.61787 5.06348 2.37801 5.57885 1.44783 6.51017C0.514227 7.44263 0 8.68135 0 10.0012C0 11.3176 0.513084 12.5586 1.44669 13.4899C2.37687 14.4224 3.61673 14.9366 4.93658 14.9366C6.25414 14.9366 7.49514 14.4235 8.4059 13.5105L10 11.9815L11.5724 13.4899C12.5037 14.4224 13.7447 14.9366 15.0634 14.9366C16.3821 14.9366 17.6208 14.4235 18.5522 13.4899C19.4858 12.5598 20 11.3188 20 9.99891C20 8.67906 19.4869 7.44149 18.5533 6.50788C17.6197 5.57656 16.381 5.06348 15.0634 5.06348ZM6.40613 11.4685C5.62107 12.2547 4.25323 12.2547 3.46703 11.4685C3.07393 11.0754 2.85796 10.5531 2.85796 10.0001C2.85796 9.44469 3.07393 8.92475 3.46932 8.52937C3.86013 8.13627 4.38236 7.92029 4.93658 7.92029C5.4908 7.92029 6.01303 8.13627 6.42784 8.54993L7.93738 10.0012L6.40613 11.4685ZM16.5318 11.4685C15.7468 12.2558 14.3995 12.2741 13.5722 11.4479L12.0626 9.99663L13.5927 8.52822C14.3789 7.74203 15.7479 7.74203 16.533 8.52594C16.9261 8.92132 17.142 9.44126 17.142 9.99663C17.142 10.552 16.9249 11.0754 16.5318 11.4685Z' fill='%234BB14B'/%3E%3C/svg%3E%0A");

}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

