mixin sTable(isDraggable, name='Товар')
	// start sTabel
	+b.sTable.section#sTable&attributes(attributes)
		+b.section-title
			.row
				.col-md
					h2 Категории товаров
				.col-md-auto
					+e.btn.btn.btn-outline-gray(href='#')
						+icon('more')
						| Создать категорию
		.table-wrap-js
			table.table.table-js#table-5
				thead
					tr
						if isDraggable
							th.td-small
						th: span!= name
						th: span Количество товаров
				tbody.drug-wrap-block-js
					mixin tr(title, num, isDraggable)
						tr.drug-item-js
							if isDraggable
								td.td-small 
									+e.ellipsis.my-handle.d-none.d-lg-flex
										+icon('dots')
									+e.arrows.d-lg-none
										+e.arrow.drop-top-js: +icon('chevron-up')
										+e.arrow.drop-down-js: +icon('chevron-down')
							td: +e.link(href="#")!= title
							td
								+e.wrap
									span!= num
									+e.tooltips.ms-auto
										a(href="#")
											+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Копировать")
												+icon('copy')
										a(href="#")
											+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Редактировать")
												+icon('edit')
										a(href="#")
											+e.tooltip( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="Удалить")
												+icon('delete')
					block
	// end sTabel

mixin sCreateTable(title, text, btnText)
	// start sTabel
	+b.sTable.section#sCreateTable&attributes(attributes)
		+b.section-title--create
			h2!= title
			p!= text
			+e.btn.btn.btn-outline-gray(href='#')
				+icon('more')
				!= btnText
