mixin sPromo(data)
	// start sPromo
	+b.sPromo.section#sPromo&attributes(attributes)
		+e.title QR код - самый эффективный способ рассказать о вашем чат-боте
		+e.row.row
			.col-md-auto
				+e.qr-code
					p Ваш чат-бот: 
						a(href="#") @prahacafebot 
					+img('img/qr-code.png')
					+e.btn(href="#").btn.btn-success Скачать QR код 
			.col-md
				+e.content
					+e.small-title QR код с ссылкой на вашего чат-бота в Telegram, который вы можете использовать где угодно, например:
					ul
						li Печать QR кода на визитках
						li Вставка в тейбл-тент размером А4 или А5
						li Размещение QR кода на сайте
						li Вкладыши листовок с QR кодом в заказы на вынос и доставку
						li Наклейки с QR кодом на двери
						li Наклейки с QR кодом на столы
						li И многое другое
					+e.small-title Скачайте QR-код и передайте вашему дизайнеру или в типографию.
					p Мы рекомендуем включать бонусную систему в чат-боте и давать бонусы за регистрацию в чат-боте, о количестве бонусов вы можете писать на рекламных материалах.
					p #[a(href="#") Скачайте примеры промо-материалов] одного из подключенных ресторанов к ChatFood. Вы можете отправить их в типографию или дизайнеру для примера.
	// end sPromo