- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="libs/choices.js/public/assets/styles/choices.min.css", rel="stylesheet")
	//- link(href="libs/datatables.net-dt/css/jquery.dataTables.min.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	link(href=`css/dataTables.bootstrap5.min.css`, rel="stylesheet")
	link(href=`libs/@baseonmars/priority-nav/priority-nav-core.css`, rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/datatables.net-dt/js/dataTables.dataTables.min.js") 
	script(src="libs/datatables.net/js/jquery.dataTables.min.js") 
	script(src="libs/jquery-datatables-pageloadmore/js/dataTables.pageLoadMore.min.js") 
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/choices.js/public/assets/scripts/choices.min.js") 
	script(src="libs/@popperjs/core/umd/popper.min.js") 
	script(src="libs/bootstrap/js/bootstrap.min.js") 
	script(src="libs/@baseonmars/priority-nav/priority-nav.min.js") 
	script(src="libs/sortablejs/Sortable.min.js") 
	//- script(src=`js/common.js?v=${version}`)
	script(src=`js/common.js`)

	script.
		const url = 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/ru.json';
		try {
		
		var table = $('#table-1').DataTable({
		language: {
			url,
			},
			"lengthChange": false, 
			info: false,
			pageLength: 5,
			// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
					drawCallback: function(){ 
						$('#btn-example-load-more-1').toggle(this.api().page.hasMore());
					}   
		});
		$('#btn-example-load-more-1').on('click', function(){   
			table.page.loadMore();
		});
		} catch (error) { }
		try {
			
		var table2 = $('#table-2').DataTable({
		language: {
			url,
			},
			"lengthChange": false, 
			info: false,
			pageLength: 5,
			// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
					drawCallback: function(){ 
						$('#btn-example-load-more-2').toggle(this.api().page.hasMore());
					}   
		});
		$('#btn-example-load-more-2').on('click', function(){   
			table2.page.loadMore();
		});
		} catch (error) { }
		try {
		
		var table3 = $('#table-3').DataTable({
		language: {
			url,
			},
			"lengthChange": false, 
			info: false,
			pageLength: 5,
			// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
					drawCallback: function(){ 
						$('#btn-example-load-more-3').toggle(this.api().page.hasMore());
					}   
		});
		$('#btn-example-load-more-3').on('click', function(){   
			table3.page.loadMore();
		});
		} catch (error) { 	}
		try {
		
		var table4 = $('#table-4').DataTable({
		language: {
			url,
			},
			"lengthChange": false, 
			info: false,
			searching: false,
			pageLength: 4,
			// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
					drawCallback: function(){ 
						$('#btn-example-load-more-4').toggle(this.api().page.hasMore());
					}   
		});
		$('#btn-example-load-more-4').on('click', function(){   
			table4.page.loadMore();
		}); 
		} catch (error) { }
		try { 
		var table5 = $('#table-5').DataTable({
		language: {
			url,
			},
			"lengthChange": false, 
			info: false,
			searching: false,
			// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
		});
		$('#btn-example-load-more-5').on('click', function(){   
			table5.page.loadMore();
		}); 
		} catch (error) { 	}