mixin sStatistic(data)
	// start sStatistic
	+b.sStatistic.section#sStatistic&attributes(attributes)
			mixin item(t)
				+b.sCabinetPanel-item.card
					+e.title= t
					block
			.tabs
				.tabs__caption.row
					.tabs__btn.col-lg-3.active
						+item(`Пользователи`)
							+e.body
								+e.text-with-img
									+img("img/slightly-smiling-face_1f642.png")
									+e.text-lg 2665
							+e.footer.row
								.col-sm-4.col-auto.small
									.strong.up 9
									|  за сегодня
								.col-sm-4.col-auto.small
									.strong.up 160
									| за неделю
								.col-sm-4.col-auto.small
									.strong.up 447
									| за месяц
					.tabs__btn.col-lg-3
						+item(`Сумма заказов`)
							+e.body
								+e.text-with-img
									+img("img/grinning-face_1f600.png")
									+e.text-lg 890 650 ₽
							+e.footer.row
								.col-sm-4.col-auto.small
									.strong.up 16 263 ₽
									|  за сегодня
								.col-sm-4.col-auto.small
									.strong.up 136 263 ₽
									| за неделю
								.col-sm-4.col-auto.small
									.strong.up 324 26  ₽
									| за месяц
					.tabs__btn.col-lg-3
						+item(`Заказы`)
							+e.body
								+e.text-with-img
									+img("img/money.png")
									+e.text-lg 559
							+e.footer.row
								.col-sm-4.col-auto.small
									.strong.up 2
									|  за сегодня
								.col-sm-4.col-auto.small
									.strong.up 9
									| за неделю
								.col-sm-4.col-auto.small
									.strong.up 31
									| за месяц
					.tabs__btn.col-lg-3
						+item(`Активность`)
							+e.body
								+e.text-with-img
									+img("img/grinning-face_1f600 1.png")
									+e.text-lg 21
							+e.footer.small Активные пользователи за сегодня
				.tabs__content.active
					+gr("Регистрации",'', true)
						img.res-i(src="img/table.png", alt="")
				.tabs__content 2
				.tabs__content 3
				.tabs__content 4
	// end sStatistic