// start .sStatistic
.sStatistic {
	--sPT: #{rem(0)};
	--sPB: #{rem(20)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(20)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	.tabs {
		&__caption {
			--bs-gutter-x: #{rem(20)};
			--bs-gutter-y: #{rem(15)};
			margin-bottom: rem(40);
		}
		&__btn {
			position: relative;
			&:not(.active) {
				.sCabinetPanel-item {
					background-color: $gray-100;
					border-color: transparent;
					&:hover {
						box-shadow: none;
						// opacity: .7;
					}
				}
			}
			&.active {
				.sStatistic__cross {
					transform: rotate(45deg);
					color: #C2C2C2;
				}
				@include media-breakpoint-up(xl) {
					.sCabinetPanel-item {
						position: relative;
						&:before {
							content: '';
							position: absolute;
							display: block;
							width: 15px;
							height: 15px;
							border-right: 1px solid #D9D9D9;
							border-bottom: 1px solid #D9D9D9;
							background-color: #fff;
							bottom: -8px;
							left: 50%;
							transform: translateX(-50%) rotate(45deg);
						}
					}
				}
			}
		}
		&__content-toggle {
			@include media-breakpoint-down(lg) {
				margin-bottom: 15px;
			}
		}
		&__content {
			@include media-breakpoint-down(lg) {
				display: none !important;
				margin-bottom: 15px;
				&.active {
					display: block !important;
				}
			}
		}
	}
	.sCabinetPanel-item {
		&__footer-wrap {
			position: relative;
			overflow: auto;
			margin-top: auto;
		}
		&__footer {
			--bs-gutter-x: 30px
			// min-width: calc(rem(300) );
			// margin-left: 0;
			// margin-right: 0;
		}
	}
	&__cross {
		@include mt;
		position: absolute;
		display: block;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		z-index: 10;
		color: $orange;
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			@include a-cent;
			background-color: currentColor;
			border-radius: 4px;
		}
		&:before {
			width: 2px;
			height: 12px;
		}
		&:after {
			width: 12px;
			height: 2px;
		}
	}
	.sStatistic {
		&__group {
			.row {
				align-items: center;
				margin-bottom: rem(20);
			}
		}
		&__group-title {
			font-weight: 700;
			font-size: rem(24);
			margin-bottom: 10px;
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStatistic