// start .Chat
.chat-page{
	.container-main{
		padding-left: 0;
		padding-right: 0; 
	}
	.topLine{
		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
	}
}
.Chat {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)}; 
	&__row{
		--bs-gutter-x: #{rem(0)}; 
		flex-wrap: nowrap;
		@include media-breakpoint-down(lg) {
		// transform: translateX(-100%);
		}
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		&__row{
			border-left: 1px solid #E4E4E4;
			margin-left: -1px;
			margin-right: -1px;
			border-right: 1px solid #E4E4E4;
			overflow: hidden;
		}	
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(lg) {
		&__row{
			border-top: 1px solid #E4E4E4;
		}
	}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {
		// overflow: hidden;
	}
	--sp-start: 15px; 
	@include media-breakpoint-up(md) {

		--sp-start: #{rem(40)}; 
	}
} // end.Chat

.Chat-aside,.Chat-main{
	@include media-breakpoint-up(xl) {

		height: calc(var(--vh, 1vh) * 100 -  var(--topLine-h));
	}
	height: calc(var(--vh, 1vh) * 100 -  var(--topLine-h) - #{rem(15)});
	display: flex;
	flex-direction: column;

}
.Chat-aside{
	background-color: #fff;
	z-index: 5;
	@include media-breakpoint-up(lg) {

		
	}
	@include media-breakpoint-up(lg) {
		
		border-right: 1px solid #E4E4E4;
		width: rem(370);
	}
	&__close{
		@include a-cent1(y);
		right: calc(var(--sp-start) - rem(5));
		padding: rem(5);
		cursor: pointer;
		color: #c2c2c2;
		z-index: 3;
		.icon{
			font-size: 1rem;
		}
		&:not(.active) {
			display: none;
		}
	}
	&__body{
		flex-grow: 1;
		overflow-y: auto;
		position: relative;
		height: calc(100% - #{rem(62)});
		backface-visibility: hidden;
		@include media-breakpoint-down(md){
			border-top: 1px solid #E4E4E4;
		}
	}
	&__head{
		@include media-breakpoint-down(md) {
			padding: var(--sp-start);
			padding-top: 0;
		}
		
		position: relative;
		button{
			@include a-cent1(y);
			left: calc(var(--sp-start) - rem(15));

			background: none !important;
			box-shadow:  none !important;
			border: none !important;
			color: $orange;
			padding: rem(10px);
			z-index: 3;
			.icon{
				font-size: rem(20);
			}
		}
	}
	&__input-wrap{
		@include media-breakpoint-down(md){
			position: relative;
		}
	}
	&__input{
		padding-left: calc(var(--sp-start)  + #{rem(30)}) !important;
		padding-right: calc(var(--sp-start) + rem(5) + 1.2rem);
		border-color: #ebebeb !important;
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(md){
			
			padding-top: rem(19.5);
			padding-bottom: rem(19.5);
			border-radius: 0;
			border-top: none !important;
			border-right: none !important;
			border-left: none!important;
			// box-shadow: none !important;
		}
	}
	&__row{
		align-items: center;
		--bs-gutter-x: 10px;
	}
	&__item{ 
		padding: rem(8);
		height: rem(60px);
		padding-left: calc(var(--sp-start) );
		padding-right: var(--sp-start) ;
		border-bottom: 1px solid #E4E4E4;
		font-size: rem(14);
		width: 100%;
		line-height: 1.2;
		@include mt;
		cursor: pointer;
		
		.badge{
				border-radius: rem(100);
				font-weight: normal;
				font-size: 12px;
				position: relative;
				padding-left: 5px;
				text-align: center;
				padding-right: 5px;
				top: em(-4);
				min-width: rem(20.38);
		}
		&.active{
			background: rgba(75, 177, 75, 0.12);
		}
		&:hover,
		&.current{
					background: #F6F7FA;
				}
	}

	&__foot-row{
	}
	&__caption{
		.row{
			// white-space: nowrap;
			margin-top: rem(2);
			flex-wrap: nowrap; 
		}
		flex-grow: 1;   
		max-width: calc(100%  - var(--bs-gutter-x) * 2 - #{rem(30)} );
	}
	&__col{
		max-width: calc(100%  -   #{rem(40)}  );
	}
	&__time{
		font-size: 12px;
	}
	&__text{
		@include ellipsis;
		max-width: 100%;
	}
	&__avatar{
		// padding-bottom: 100%;
		overflow: hidden;
		border-radius: 50%;
		width: rem(40);
		position: relative;
		height: rem(40px); 
		
		img{
			// @include a-cent;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}
	&__avatar-text{
		@include a-cent1;
		font-size: $small;
		font-weight: bold;
	}
}

.Chat-main{
	display: flex;
	flex-direction: column; 
	.container{
		@include media-breakpoint-up(lg) {
		padding-left: 40px;
		padding-right: 40px;
		}
	}
	@include media-breakpoint-down(lg) {
		&:not(.active) {
			transform: translateX(100%);
		}
		@include mt(.6s);
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: #fff;
		z-index: 300;
		height: 100vh;
		padding-bottom: calc(env(safe-area-inset-bottom, 0px));
	}

}

.Chat-main-head{
	font-size: rem(14);
	width: 100%;
	// a.text-body{

	// }
	&__back{
		cursor: pointer;
		.icon{
			font-size: 16px;
		}
	}
	&__link{
		border-bottom: 1px solid ;
		line-height: 1;
		color: $primary;
		&:hover{
			border-color: transparent;
			color: $orange;
		}
	}
	.badge{
		font-size: 12px;
	}
	.row{
		align-items: center;
		--bs-gutter-x: 10px
	}  
		padding: rem(10) 0;
		// padding-left: calc(var(--sp-start) );
		border-bottom: 1px solid #E4E4E4;
		@include media-breakpoint-up(lg) { 
			// padding-left: 0;
			.container{
				// padding-left: 0;
				// padding-right: 0;
			}

			box-shadow: 0px 0px 15px 0px rgba(25, 28, 31, 0.10); 
		}
	&__avatar{
		// padding-bottom: 100%;
		overflow: hidden;
		border-radius: 50%;
		width: rem(40);
		position: relative;
		height: rem(40px); 
		
		img{
			@include a-cent;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__avatar-text{
		@include a-cent1;
		font-size: $small;
		font-weight: bold;
	}
}

	.ifEmtyChat{
		// align-self:center;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-height: 100%;
		// margin-top: 600px;
		// margin-bottom: 600px;
		.empty-chat-bot__img-wrap{
			width: 100%;
			// flex-grow: 1;
			flex: 0 0 auto;
			// max-width: 100%;
		}
	}

.Chat-main-footer{
	background: var(--primary-white, #FFF);
	box-shadow: 0px 0px 15px 0px rgba(25, 28, 31, 0.10);
	border-top: 1px solid #E4E4E4;
	.alert{
		border-radius: 0;
		padding: 0;
		margin: 0;
			@include media-breakpoint-up(lg){

				font-size: rem(14);
			}
			font-size: 12px;
		line-height: 1.2;
		color: $body-color;
		svg{
			margin-right: 10px;
			flex: 0 0 auto;
			[stroke] {
				stroke: rgba(255, 44, 44, 1)!important;
			}
		}
		.container{
			display: flex;
			align-items: center;
			min-height: rem(60);
		}
	}
		@include media-breakpoint-up(lg) {

			--sp-start: 40px;
		}
		--sp-start: 20px;
	.container{
		position: relative;

	}

	&__btns{
		position: absolute;
		@include a-cent1(y);
		right: calc(var(--sp-start) );
	}
	&__input-wrap{
		&::after{
			content: '';
			position: absolute;

		}
	}
	&__input{
		border-radius: 0;
		padding-left: calc(  #{rem(42)}) !important;
		padding-right: calc(  rem(5) + 4.2rem);
		border-right: none !important;
		border-left: none!important;
		padding-top: rem(20);
		padding-bottom: rem(5);
		border-bottom: none !important;
		min-height: 1px !important;
		height: rem(60);
		resize: none;
		border-top: none !important;
		box-shadow: none !important;
	}
	&__btn{
		border-radius: 0;
			border: none !important;
			box-shadow: none !important;
			background: none !important;
			@include mt;
			.icon{
				font-size: rem(20);
			}
			&--send{
				color: $primary;
			}
			&--emoji{
				color: #8C8D8F;
				&:hover{
					color: $orange;
				}
			}
	}
}
.dropdown-chat{
	@include media-breakpoint-up(lg) {

		left: calc(var(--sp-start) );
	}
	left: calc(var(--sp-start) - 5px);
	@include a-cent1(y);
	position: absolute;
	&__toggle{
		color: #8C8D8F; 
		cursor: pointer;
	}
	&__body{
		position: absolute;
		// top: 100%;
		bottom: 100%;
		overflow: hidden;
		width: max-content;
		left: 0;
		visibility: var(--op, hidden);
		opacity: var(--op,0);
		// display: none;
		// --op:1;
		border-radius: 8px;
		border: 1px solid var(--primary-gray-lines, #E4E4E4);
		background: var(--primary-white, #FFF);
		box-shadow: 0px 5px 15px 0px rgba(25, 28, 31, 0.10);
		@include mt;
	}
	&__item{
		cursor: pointer;
		min-width: rem(184);
		padding: rem(10) rem(18);
		position: relative;
		font-size: rem(14);
		width: 100%;
		[type="file"]{
			@extend .invisible;
			@include a-cent;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #E4E4E4;
		}
		&:hover{
			background: rgba(246, 247, 250, .5);
		}
	}
	&:hover {

		--op: 1;
	}
	&:hover &__toggle{
		color: $orange;
	}
}


.Chat-main-body-wrap{
	height: calc(100% - #{rem(62)} * 2);
	backface-visibility: hidden;
	flex-grow: 1;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	&:not(.show){
		opacity: 0;
	}

}
.Chat-main-body{
	min-height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	padding: rem(12) 0;
	&__img-wrap{
		display: inline-block;
		position: relative;
		.Chat-main-body__time{
			position: absolute;
			border-radius: 60px;
			background: rgba(25, 28, 31, 0.72);
			bottom: rem(5);
			right: rem(5);
			color: #fff;
			font-size: rem(12);
			padding-left: rem(5);
			padding-right: rem(5);
		}
		img{
			border-radius: 12px; 
			@include media-breakpoint-up(lg){
				max-width: rem(310);
				max-height: rem(203);
			}
			max-width: rem(215);
			max-height: rem(140);
			
		}
	}
	&__time{  
		color: $secondary;
		font-size: rem(12px);
	}
	&__message{	
		margin-top: 5px;
		margin-bottom: 5px;
	}
	&__text &__time{
		text-align: right;
	}
	&__text{
		display: inline-block;
		padding: rem(10);
		padding-bottom: rem(5);
		font-size: rem(14);
		border-radius: 8px;
		background: var(--primary-gray-bgr, #F6F7FA);
		max-width: rem(420);
		text-align: left;
	}
	&__message--down{
		text-align: right;
	}
	&__message--down &__text{
		background: rgba(0, 159, 227, 0.20);

	}
}
