extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= ' 15.9. Settings'
	title= title
block pagecontent
	+b.cabinet-block.section
		+e.head.row
			.col-sm-auto.h1.strong.mb-0 arts.man@mail.ru
			.col.p-0.m-0
			.col-auto.m-0
				+b.link-close(href="#")
					+icon("close")
		+e.body
			+form-wrap
				+b.avatar-block-wrap
					+e.btn-delete
						+icon("trash-can")
					+b.avatar-block
						//- input(type="file", name="")
						+e.img-wrap.bg-wrap
							img(src="#", alt="").img-bg
							+icon("avatar")
						+e.caption.small
							.strong.mb-2 Михаил
							button.btn.btn-sm.btn-outline-danger Удалить пользователя
				+gr(`Группа`)
					+input("Менеджер",'select').custom-select-js
				+gr(`Статус`)
					+input("Активен",'select').custom-select-js

				br
				button.btn.btn-orange.btn-mob-100.px-20.btn-save-js(type="button") Сохранить изменения

		+save-alert()