extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCabinetPanel/_sCabinetPanel.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'd-tabs-1'
	title= title
block pagecontent
	+aside()
	+main('Внешний вид', '', 'true') 
		.topLine.d-xl-none.border-0
			.h2.mb-0 Сообщения
		+b.btns-slider-wrapper
			+b.btns-slider--js.swiper
				.swiper-wrapper
					-
						var list = ["Каталог", "Сообщения", "Основное",
										"Каталог", "Товар", "Корзина",'Оформление заказа','Контакты','Политика конфиденциальности','Профиль','Стили']
					+e.slide.swiper-slide
						+e.btn.btn.btn-outline-secondary.active(href="#") Каталог
					each item in list
						+e.slide.swiper-slide
							+e.btn.btn.btn-outline-secondary(href="#")= item
							
					each item in list
						+e.slide.swiper-slide
							+e.btn.btn.btn-outline-secondary(href="#")= item

			+arrow
