extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCabinetPanel/_sCabinetPanel.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCreateProduct/_sCreateProduct.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'create-product-4'
	title= title
block pagecontent
	+aside('true')
	+main('Категории', '', 'true','Создать категорию', 'hide', true)
		.title
			.h2 Создать категорию
		+sCreateProduct.sCreateProduct--create-category
			mixin cInput(title, text, isRequired)
				.form-wrap__input-wrap.form-wrap__input-wrap--custom.form-group
					label
						if title
							span.form-wrap__input-title!= title 
						if text
							span.form-wrap__input-text!= text
						block
						if isRequired
							.form-wrap__required!= isRequired ? 'Обязательно к заполнению' : 'Необязательно к заполнению'
			.tabs
				.tabs__caption
					.tabs__btn.active Основное
					.tabs__btn Характеристики
				.tabs__content.active
					h3 Основное
					+e.wrap
						+cInput('Название категории', 'Можете использовать эмоджи в названии категории', true)
							+input('Введите название категории', 'text')
						+cInput('Описание категории', '')
							+input('Введите небольшое описание категории', 'textarea')
						+cInput('', '')
							+e.custom-input-row.row
								.col-12: +in-c('checkbox', 'Показывать по дням недели', 'day')
								.col-auto: +in-c('checkbox', 'Пн', 'day')
								.col-auto: +in-c('checkbox', 'Вт', 'day')
								.col-auto: +in-c('checkbox', 'Ср', 'day')
								.col-auto: +in-c('checkbox', 'Чт', 'day')
								.col-auto: +in-c('checkbox', 'Пт', 'day')
								.col-auto: +in-c('checkbox', 'Сб', 'day')
								.col-auto: +in-c('checkbox', 'Вс', 'day')
				.tabs__content
					+e.title--lg Характеристики
					+e.text Создайте шаблон для заполнения характеристик к выбранной категории товаров.
					.alert.alert-primary.d-flex.align-items-center(role='alert')
						+img('img/svg/info_square_icon-2.svg').me-2
						.text-body.flex-grow-1.me-md-2  Шаблоны характеристик для категорий нужны чтобы упростить заполнение товаров в личном кабинете.

					+b.custom-dropdown--js
						+e.head
							+e.wrap
								+icon('more')
								span Добавить
							+e.chevron: +icon('chevron-down')
						+e.content
							+e.link Поле ввода
							+e.link Выбор из списка
							+e.link Длинное поле ввода
							+e.link Несколько вариантов из нескольких
							+e.link Один вариант из нескольких
					+b.characteristic.drug-wrap-block-js
						mixin characteristicItem(title, btn)
							+e.wrap.drug-item-js
								+e.head-row.row
									.col
										+e.ellips.my-handle: +icon('dots')
										+e.title!= title
									.col-auto
										+e.delete Удалить
								+e.body
									block
								if btn
									+e.btn.btn.btn-outline-gray(href='#')
										+icon('more')
										!= btn
								+in-c('checkbox', 'Обязательно к заполнению')
						+characteristicItem('Поле ввода')
							+input('Название', 'text')
							+input('Описание', 'text')
								+e.SPAN.caption Описание видно только администраторам и менеджерам в личном кабинете
						+characteristicItem('Выпадающий список', 'Добавить значение')
							+input('Название', 'text')
							+input('Описание', 'text')
								+e.SPAN.caption Описание видно только администраторам и менеджерам в личном кабинете
							+input('Введите значение', 'text', 'Значение 1')
							+input('Введите значение', 'text', 'Значение 2')
								+e.remove(href='#'): +icon('trash-can')
						+characteristicItem('Один вариант из нескольких', 'Добавить значение')
							+input('Название', 'text')
							+input('Описание', 'text')
								+e.SPAN.caption Описание видно только администраторам и менеджерам в личном кабинете
							+input('Введите значение', 'text', 'Значение 1')
							+input('Введите значение', 'text', 'Значение 2')
								+e.remove(href='#'): +icon('trash-can')
							+input('Введите значение', 'text', 'Значение 3')
								+e.remove(href='#'): +icon('trash-can')
						+characteristicItem('Длинное описание')
							+input('Название', 'text')
							+input('Описание', 'text')
								+e.SPAN.caption Описание видно только администраторам и менеджерам в личном кабинете