mixin sGetTarif(data)
	// start sGetTarif
	+b.SECTION.sGetTarif.tabs#sGetTarif&attributes(attributes)
		
			+b.section-title.text-center
				.row.gy-1
					h1.col-auto.strong Выбрать тариф для
					.col-auto
						+input("Прага | Доставка ❤️",'select').custom-select-js
			.tabs__caption.small
				.tabs__btn.active Месяц
				.tabs__btn Полгода (-10%)
				.tabs__btn Год (-20%)
			.tabs__wrap
				mixin tab()
					.tabs__content&attributes(attributes)
						.row.gy-md-4.gy-3
							mixin item(l, pr, oldpr, current, pop)
								+e.col.col-xl-3.col-sm-6
									+b.tarif-item
										if pop
											+e.pop-wrap
												+e.pop= pop
										+e.head
											+e.label(class=(l=='Free' ? 'text-secondary': ''))
												if l== 'Standart'

													img(src="img/fire.png", alt="")
												= l
											+e.price= pr
												if oldpr 
													.text-danger= oldpr
											.small.text-secondary За один чат-бот за полгода
										+e.body
											block
										if current
											button.btn.btn-success.w-100(disabled data-fancybox="modal" data-src="modal-tarif" data-new-tarif= l)  Текущий  тариф
										else
											button.btn.btn-success.w-100( data-fancybox="modal" data-src="modal-tarif" data-new-tarif= l) Подключить
							+item('Free','0 ₽','','current')
								ul
									li До 30 заказов в&nbsp;месяц
									li До 4 категорий товаров
									li До 20 товаров
									li До 3 рассылок в&nbsp;месяц
									li.close Онлайн-оплата заказов
									li.close Скрытие логотипа ChatFood
									li.close API
									li.close Премиум поддержка 
										+b.tooltip-wrap()
											+e.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.") ?
							+item('Start','19 200 ₽','24 000 ₽')
								ul
									li До 60 заказов в&nbsp;месяц
									li.infinity Категории товаров без&nbsp;ограничений
									li.infinity Товары без&nbsp;ограничений
									li.infinity Рассылки без&nbsp;ограничений
									li.close Онлайн-оплата заказов
									li.close Скрытие логотипа ChatFood
									li.close API
									li.close Премиум поддержка 
										+b.tooltip-wrap()
											+e.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.") ?
							+item('Standart','28 800 ₽','36 000 ₽','','Популярный')
								ul
									li До 100 заказов в&nbsp;месяц
									li.infinity Категории товаров без&nbsp;ограничений
									li.infinity Товары без&nbsp;ограничений
									li.infinity Рассылки без&nbsp;ограничений
									li Онлайн-оплата заказов
									li Скрытие логотипа ChatFood
									li API
									li.close Премиум поддержка 
										+b.tooltip-wrap()
											+e.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.") ?
							+item('Pro','57 600 ₽','72 000 ₽') 
								ul
									li.infinity До 100 заказов в&nbsp;месяц
									li.infinity Категории товаров без&nbsp;ограничений
									li.infinity Товары без&nbsp;ограничений
									li.infinity Рассылки без&nbsp;ограничений
									li Онлайн-оплата заказов
									li Скрытие логотипа ChatFood
									li API
									li Премиум поддержка 
										+b.tooltip-wrap()
											+e.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.") ?
				+tab().active
				+tab()
				+tab()

	// end sGetTarif

mixin sGetTarif2(data)
	// start sGetTarif
	+b.SECTION.sGetTarif--2.tabs#sGetTarif&attributes(attributes)
		
			+b.section-title
				.h3.strong Сменить тариф
			.tabs__caption
				.tabs__btn.active Месяц
				.tabs__btn 3 меcяца #[.badge.bg-warning -10%]
				.tabs__btn 6 месяцев #[.badge.bg-orange -15%]
				.tabs__btn Год #[.badge.bg-danger -20%]
			.tabs__wrap
				mixin tab()
					.tabs__content&attributes(attributes)
						mixin item(label, labelImg, price, discount, number, text, current, badge, pop)
							//- +e.col.col-xl-3.col-sm-6
							+e.slide.swiper-slide
								+b.tarif-item
									if pop
										+e.pop!= pop
									+e.head
										+e.label
											if labelImg
												+img(`img/${labelImg}`) 
											!= label
										+e.price
											= price
											if badge
												.badge.bg-warning –10%
										+e.discount!= discount
										if number
											+e.economy 
												span!= number
												!= text
									+e.body
										block
									if current
										button.btn.btn-success.w-100(disabled data-fancybox="modal" data-src="modal-tarif2" data-tarif-title='Отмена дополнительной услуги' data-tarif-text='Дополнительная услуга отменится со следующего месяца.')  Текущий  тариф
									else
										button.btn.btn-success.w-100( data-fancybox="modal" data-src="modal-tarif2") Выбрать тариф
						//- .row.gy-md-4.gy-3
						+e.slider--js.swiper
							.swiper-wrapper
								+item('Бесплатный', '', '0 ₽','Бесплатно навсегда')
									ul
										li До 15 товаров
										li 1 рассылка в месяц
										li 1 управляющий пользователь
										li Опции товаров
										li.close Расчет стоимости доставки
										li.close Скрытие логотипа ChatFood
										li.close Вариативные товары
										li.close Онлайн-оплата
										li.close API
										li.close Премиум поддержка
								+item('Старт', 'fire.png', '6 273 ₽','Без скидки 6 973 ₽', '3 440 ₽', 'При подключении автоплатежа', 'current', true)
									ul
										li До 30 товаров
										li До 5 рассылок в месяц
										li До 3 управляющих пользователей
										li Опции товаров
										li Расчет стоимости доставки
										li Скрытие логотипа ChatFood
										li.close Вариативные товары
										li.close Онлайн-оплата
										li.close API
										li.close Премиум поддержка
								+item('Стандарт', 'smile-cool.png', '8 696 ₽', 'Без скидки 9 665 ₽', '3 440 ₽','При подключении автоплатежа', '', true, 'Популярный')
									ul
										li До 80 товаров
										li До 10 рассылок в месяц
										li До 7 управляющих пользователей
										li Опции товаров
										li Расчет стоимости доставки
										li Скрытие логотипа ChatFood
										li Вариативные товары
										li Онлайн-оплата
										li API
										li.close Премиум поддержка
								+item('Профи', 'bomb.png', '10 634 ₽', 'Без скидки 11 819 ₽', '3 440 ₽','При подключении автоплатежа', '', true)
									ul
										li.infinity До 80 товаров
										li До 10 рассылок в месяц
										li До 7 управляющих пользователей
										li Опции товаров
										li Расчет стоимости доставки
										li Скрытие логотипа ChatFood
										li Вариативные товары
										li Онлайн-оплата
										li API
										li Премиум поддержка
							.swiper-pagination
				+tab().active
				+tab()
				+tab()
			+e.btn.btn.btn-outline-orange(href='#') Смотреть полное описание тарифов
			+table
	// end sGetTarif