// start .sBotMenu
.sBotMenu {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};
		// margin-top: rem(20);
	}
	
	// head menu start
	&__head-row  {
		margin-bottom: rem(20);
		--bs-gutter-y: 10px;
		--bs-gutter-x: 10px;
		@include media-breakpoint-up(sm) {
			--bs-gutter-y: #{rem(20)};
			--bs-gutter-x: #{rem(18.5)};
		}
	}
	&__input-wrap {
		max-width: 100%;
		&:focus {
			box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
		}
	}
	&__all-goods {
		// width: rem(167);
		width: 100%;
		// @include media-breakpoint-up(lg) {
		// 	width: rem(200);
		// }
		// @include media-breakpoint-up(xxl) {
		// 	width: rem(240);
		// }
		.choices__item {
			font-size: 12px;
			@include media-breakpoint-up(lg) { 
				font-size: 14px;
			}
		}
		.choices__inner {
			padding: 0.53125rem 2.35rem 0.53125rem 1.25rem;
		}
	}
	&__sort {
		width: rem(168);
		@include media-breakpoint-up(lg) {
			width: rem(170);
		}
		@include media-breakpoint-up(xxl) {
			width: rem(186);
		}
		.choices__item {
			font-size: 12px;
			@include media-breakpoint-up(lg) { 
				font-size: 14px;
			}
		}
		.choices__inner {
			padding: 0.53125rem 2.35rem 0.53125rem 1.25rem;
		}
	}
	&__search {
		@include mt;
		width: rem(40);
		height: rem(40);
		max-width: 100%;
		position: relative;
		border: 1px solid #EBEBEB;
		border-radius: 8px;
		.icon{
			flex: 0 0 auto;
		}
		@include media-breakpoint-up(sm) {
			width: 100%;
			border-radius: 0;
			border: none;
		}
		@include media-breakpoint-down(sm) {
			&:hover {
				background-color: $orange;
				border-color: $orange;
				.toggle-search .icon {
					color: #fff;
				}
			}
		}
		@include media-breakpoint-up(xxl) {
			// width: rem(548);
		}
		button {
			border: none;
			background-color: transparent;
			position: absolute;
			display: flex;
			top: 0;
			right: 0;
			height: 100%;
			width: 40px;
			color: $orange;
			align-items: center;
			justify-content: center;
			.icon {
				@include mt;
				font-size: rem(18);
			}
		}
	}
	&__show-switch {
		display: flex;
		// border: 1px solid #EBEBEB;
		// border-radius: 7px;
		// overflow: hidden;
		.custom-input {
			cursor: pointer;
			padding-left: 0;
			min-height: auto;
			position: relative;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: none;
			&:first-child {
				input {
					border-radius: 7px 0 0 7px;
				}
			}
			&:last-child {
				input {
					border-radius: 0 7px 7px 0;
					border-left: none;
				}
			}
		}
		input {
			@include mt;
			position: absolute;
			top: 0;
			left: 0;
			margin-left: 0 !important;
			margin-bottom: 0 !important;
			margin-top: 0 !important;
			// border-radius: 0 !important;
			border: 1px solid #EBEBEB;
			background-color: transparent;
			width: 100%;
			height: 100%;
			background-image: none !important;
			z-index: 1;
			&:checked {
				box-shadow: none;
				background-color: transparent;
				border-color: #EBEBEB;
				&:before {
					background-color: #F6F6F6;
				}
				& ~ .icon {
					color: $orange;
				}
			}
			&:focus {
				outline: none;
			}
			&:before {
				cursor: pointer;
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				z-index: -1;
			}
			& ~ .icon {
				@include mt;
				position: relative;
				z-index: 1;
				font-size: rem(24);
			}
		}
	}
	&__btn-head{
		
		font-weight: 400;
		width: 100%;
		.icon {
			@include mt; 
			font-size: rem(20);
			margin-right: rem(10);
			@include media-breakpoint-down(sm) {
				font-size: 20px;
				margin-right: 5px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(24);
			}
		}
		@include media-breakpoint-up(xxl) {
			// --bs-btn-font-size: 14px;
			--bs-btn-padding-y: #{rem(7)};
		}
		--bs-btn-font-size: 12px;
		--bs-btn-padding-x: #{rem(5)};
		--bs-btn-padding-y: #{rem(9)};
		@include media-breakpoint-up(sm) {

			--bs-btn-font-size: 14px;
		--bs-btn-padding-x: #{rem(18)};
		--bs-btn-padding-y: #{rem(8.5)};
		}
	}
	&__btn-head--categories-btn {
		--bs-btn-border-color: #EBEBEB; 
		--bs-btn-hover-border-color: #{$orange};
		--bs-btn-hover-bg: #{$orange};
		--bs-btn-hover-color: #fff;
		.icon { 
			color: $orange;
		}
		// @include media-breakpoint-up(md) {
		// 	--bs-btn-font-size: 14px;
		// }
		&:hover {
			.icon {
				color: #fff;
			}
		}
	
		// span {
			// 	vertical-align: text-top;
			// }

	}
	&__btn-head--more-btn  {
	
		// --bs-btn-hover-border-color: #{$orange};
		// --bs-btn-hover-bg: #{$orange};
		// --bs-btn-hover-color: #fff;
		font-weight: 700;  
		@include media-breakpoint-down(sm) { 
			font-weight: normal;

			// --bs-btn-border-color: #EBEBEB;

			// --bs-btn-color: #{$gray-900};
			// --bs-btn-bg: #fff;
			// --bs-btn-border-color: #EBEBEB;
			// --bs-btn-hover-border-color: #{$orange};
			// --bs-btn-hover-bg: #{$orange};
			// --bs-btn-hover-color: #fff;
			// --bs-btn-active-border-color: #{$orange};
			// --bs-btn-active-bg: #{$orange};
			// --bs-btn-active-color: #fff;
		}
		@include media-breakpoint-up(xxl) {
			// font-size: rem(14);
			// --bs-btn-padding-y: #{rem(8.5)};
		}
	}
	&__filter {
		@include media-breakpoint-down(sm) {
			cursor: pointer;
			@include mt;
			width: rem(40);
			height: rem(40);
			max-width: 100%;
			position: relative;
			border: 1px solid #EBEBEB;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: $orange;
				border-color: $orange;
				.icon {
					color: #fff;
				}
			}
			.icon {
				@include mt;
				font-size: 20px;
				color: $orange;
			}
		}

	}
	&__wrap {
		@include mt;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: calc(var(--vh) * 100);
		background-color: #fff;
		z-index: 1000;
		padding: calc(env(safe-area-inset-top) + 30px) 15px calc(env(safe-area-inset-bottom) + 30px);
		display: flex;
		flex-direction: column;
		transform: translateX(-100%);
		overflow: auto;
		&.active {
			transform: translateX(0);
		}
		.h2 {
			font-weight: 700;
			margin-bottom: 30px;
		}
		a {
			margin-top: auto;
		}
	}
	&__inner-search {
		position: relative;
		margin-bottom: auto;
		button {
			top: 0;
			right: 0;
		}
	}
	&__cross {
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 16px;
		height: 16px;
		&::before, &::after {
			@include a-cent;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #C2C2C2;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	&__headline {
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 15px;
	}
	&__inputs {
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
		.custom-input {
			font-size: 12px;
			&:not(:last-of-type) {
				margin-bottom: 10px;
			}
			input {
				width: 20px;
				height: 20px;
				background-color: #fff;
				border-color: #EBEBEB;
				margin-top: 0;
				margin-right: 10px;
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
	// head menu end
	&__colCard {
		@media (min-width: 1862px) {
			// flex: 0 0 auto;
    	// width: auto;
			width: calc(100% / 5);
		}
		@include media-breakpoint-up(xxl) {
			// flex: 1 0 auto;
			width: calc(100% / 4);
		}
	}
	.order-card {
		// width: calc(100%);
		@include media-breakpoint-up(xxl) {
			// height: rem(284);
			// width: rem(284);
		}
	}
	&--empty {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		.sBotMenu__head-row {
			--bs-gutter-x: #{rem(10)};
			--bs-gutter-y: #{rem(10)};
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(15)};
				--bs-gutter-y: #{rem(15)};
			}
		}
		.choices__inner {
			padding-right: rem(30);
		}
		.sBotMenu__all-goods {
			min-width: rem(192);
		}
		.sBotMenu__btn-head {
			.icon {
				color: $orange;
			}
		}
		.sBotMenu__img-wrap {
			@include block(1,1);
			max-width: rem(100);
			width: 100%;
			margin-bottom: rem(15);
			@include media-breakpoint-up(md) {
				max-width: rem(150);
				margin-bottom: rem(20);
			}
			& > * {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&__empty {
		display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
		text-align: center;
		img {
			max-width: rem(60);
			margin-bottom: rem(20);
		}
		.h2 {
			margin-bottom: rem(8);
			font-weight: 700;
		}
		p {
			font-size: 14px;
			margin-bottom: rem(24);
			max-width: rem(652);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__btn {
		width: 100%;
		max-width: rem(198);
		.icon {
			stroke: currentColor;
			stroke-width: 2px;
			margin-right: 5px;
			font-size: rem(24);
		}
	}

	table {
		margin-top: 0;
		margin-bottom: 0;
		thead {
			tr {
				&:hover {
					box-shadow: none;
				}
			}
		}
		tbody {
			tr {
				&:hover {
					box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
				}
			}
		}
		tr {
			@include mt;
			position: relative;
			&:hover {
				box-shadow: none;
			}
		}
		th {
			font-size: 14px;
			border-bottom-color: #EBEBEB;
			&:first-child {
				padding-left: rem(44);
			}
			// &:last-child {
			// 	padding-right: rem(20);
			// }
			tr {
				
			}
		}
		td {
			vertical-align: middle;
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom-color: #EBEBEB;
			@include media-breakpoint-up(sm) {
				font-size: 14px;
			}
			.icon-stars {
				font-size: rem(14);
				color: $orange;
				margin-right: rem(5);
			}
			&:last-child {
				padding-right: rem(20);
			}
		}
		img {
			width: rem(40);
			border-radius: 6px;
			margin-right: rem(20);
		}
		label {
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: inherit;
			margin-bottom: 0;
			input {
				
				height: rem(16);
				background-color: #C2C2C2;
				border-color: #C2C2C2;
				outline: none;
				top: 5px;
				&:focus {
					box-shadow: none;
				}
			}
			.form-check-label {
				font-size: 12px;
				color: $gray-600;
				line-height: 200%;
			}
		}
	}
	&__product-wrap {
		// position: relative;
		// padding-left: rem(44);
		display: flex;
		align-items: center;
	}
	&__headline-link {
		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
		@include media-breakpoint-up(xl) {
			max-width: rem(330);
		}
		@include media-breakpoint-up(xxl) {
			max-width: 100%;
		}
		&:hover {
			color: $orange;
		}
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// }
	}
	&__ellipsis {
		cursor: pointer;
		// position: absolute;
		// left: 10px;
		// top: 50%;
		// transform: translateY(-50%);
		color: $gray-600;
		z-index: 3;
		.icon {
			font-size: rem(24);
		}
	}
	&__tooltips {
		position: relative;
		z-index: 2;
		display: inline-flex;
		align-items: center;
		a {
			color: #8C8D8F;
			&:hover {
				// color:#EBEBEB;
				opacity: .5;
			}
			&:not(:last-child) {
				margin-right: rem(10);
			}
			.icon {
				font-size: 20px;
			}
			.icon-delete {
				color: $red;
			}
		}
	}
	.table-wrap-js {
		position: relative;
		overflow: auto;
	}
	.dataTables_wrapper {
		min-width: 860px;
		@include media-breakpoint-up(md) {
			min-width: 700px;
		}
	}
	&__tooltips-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		input {
			cursor: pointer;
		}
	}


	table{
		.form-check-input{

			width: rem(36);
			height: rem(20);
			background-size: rem(18) rem(18);
		}
		.sMailing__label{
			
		}
	}
	&--2 {
		.sBotMenu {
			&__head-row {
				--bs-gutter-x: #{rem(10)};
				--bs-gutter-y: #{rem(15)};
				@include media-breakpoint-up(lg) {
					--bs-gutter-x: #{rem(15)};
				}
			}
			&__all-goods {
				min-width: rem(192);
			}
			&__input-wrap {
				&--select-with-groups {
					.choices__item {
						opacity: 1;
					}
				}
			}
			&__btn-head {
				&:not(.sBotMenu__btn-head--more-btn) {
					.icon {
						color: $orange;
					}
				}
			}
		}
		.choices__inner {
			padding-right: rem(30);
		}
		@include media-breakpoint-down(xl) {
			.table {
				width: 100% !important;
				thead {
					tr {
						display: flex;
						align-items: center;
						th {
							width: auto !important;
							border-bottom: none;
							&:nth-child(1),
							&:nth-child(5),
							&:nth-child(6) {
								display: none;
							}
						}
					}
				}
				tbody {
					tr {
						display: flex;
						// align-items: center;
						&:nth-child(1) {
							td {
								border-top: 1px solid #E4E4E4;
							}
						}
						td {
							display: flex;
							&:nth-child(1) {
								width: 35px !important;
								min-width: 35px !important;
								padding: 0 !important;
							}
							&:nth-child(2) {
								flex-grow: 1;
							}
							&:last-child {
								padding-right: 0 !important;
							}
							.eat {
								margin: rem(5) 0;
							}
						}
					}
				}
			}
			.dataTables_wrapper {
				min-width: auto;
			}
			.sBotMenu__product-wrap {
				img {
					margin-right: rem(15);
				}
			}
			.sBotMenu__ellipsis {
				display: flex;
				align-items: center;
			}
			.sBotMenu__arrows {
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: rem(10);
			}
			.sBotMenu__arrow {
				border-radius: 50%;
				background-color: #F6F7FA;
				color: $gray-600;
				width: rem(20);
				height: rem(20);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				@include mt;
				&:hover {
					color: #F6F7FA;
					background-color: $gray-600;
				}
				.icon {
					font-size: rem(12);
				}
			}
		}
		@include media-breakpoint-up(xl) {
			.table {
				thead {
					tr {
						th {
							&:nth-child(1) {
								width: 20px !important;
							}
							&:nth-child(2) {
								width: 370px !important;
							}
						}
					}
				}
				tbody {
					tr {
						td {
							padding-right: 20px;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBotMenu

.td-small{
	padding-left: 10px !important;
	width: 40px !important;
	padding-right: 0 !important;
}