// start .sBotMenu
.sBotMenu {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};
		margin-top: rem(20);
	}
	
	// head menu start
	&__head-row  {
		margin-bottom: rem(20);
		--bs-gutter-y: 10px;
		--bs-gutter-x: 10px;
		@include media-breakpoint-up(sm) {
			--bs-gutter-y: #{rem(20)};
			--bs-gutter-x: #{rem(18.5)};
		}
	}
	&__input-wrap {
		max-width: 100%;
		&:focus {
			box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
		}
	}
	&__all-goods {
		width: rem(167);
		@include media-breakpoint-up(lg) {
			width: rem(200);
		}
		@include media-breakpoint-up(xxl) {
			width: rem(240);
		}
		.choices__item {
			font-size: 12px;
			@include media-breakpoint-up(lg) { 
				font-size: 14px;
			}
		}
		.choices__inner {
			padding: 0.53125rem 2.35rem 0.53125rem 1.25rem;
		}
	}
	&__sort {
		width: rem(168);
		@include media-breakpoint-up(lg) {
			width: rem(160);
		}
		@include media-breakpoint-up(xxl) {
			width: rem(186);
		}
		.choices__item {
			font-size: 12px;
			@include media-breakpoint-up(xxl) { 
				font-size: 14px;
			}
		}
		.choices__inner {
			padding: 0.53125rem 2.35rem 0.53125rem 1.25rem;
		}
	}
	&__search {
		width: rem(40);
		height: rem(40);
		max-width: 100%;
		position: relative;
		border: 1px solid #EBEBEB;
		border-radius: 8px;
		@include media-breakpoint-up(sm) {
			width: 100%;
			border-radius: 0;
			border: none;
		}
		@include media-breakpoint-up(md) {
			width: rem(200);
		}
		@include media-breakpoint-up(xxl) {
			width: rem(548);
		}
		button {
			border: none;
			background-color: transparent;
			position: absolute;
			display: flex;
			top: 0;
			right: 0;
			height: 100%;
			width: 40px;
			color: $orange;
			align-items: center;
			justify-content: center;
			.icon {
				font-size: rem(16);
			}
		}
	}
	&__show-switch {
		display: flex;
		// border: 1px solid #EBEBEB;
		// border-radius: 7px;
		// overflow: hidden;
		.custom-input {
			padding-left: 0;
			min-height: auto;
			position: relative;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:first-child {
				input {
					border-radius: 7px 0 0 7px;
				}
			}
			&:last-child {
				input {
					border-radius: 0 7px 7px 0;
					border-left: none;
				}
			}
		}
		input {
			@include mt;
			position: absolute;
			top: 0;
			left: 0;
			margin-left: 0 !important;
			margin-bottom: 0 !important;
			margin-top: 0 !important;
			// border-radius: 0 !important;
			border: 1px solid #EBEBEB;
			background-color: transparent;
			width: 100%;
			height: 100%;
			background-image: none !important;
			z-index: 1;
			&:checked {
				box-shadow: none;
				background-color: transparent;
				border-color: #EBEBEB;
				&:before {
					background-color: #F6F6F6;
				}
				& ~ .icon {
					color: $orange;
				}
			}
			&:focus {
				outline: none;
			}
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				z-index: -1;
			}
			& ~ .icon {
				@include mt;
				position: relative;
				z-index: 1;
				font-size: rem(24);
			}
		}
	}
	&__categories-btn {
		--bs-btn-border-color: #EBEBEB;
		--bs-btn-font-size: 12px;
		--bs-btn-padding-x: #{rem(18)};
		--bs-btn-padding-y: #{rem(9)};
		font-weight: 400;
		.icon {
			color: $orange;
			font-size: rem(20);
			margin-right: rem(10);
			@include media-breakpoint-down(sm) {
				font-size: 20px;
				margin-right: 5px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(24);
			}
		}
		// span {
			// 	vertical-align: text-top;
			// }
		@include media-breakpoint-up(xxl) {
			--bs-btn-font-size: 14px;
			--bs-btn-padding-y: #{rem(7)};
		}
		@include media-breakpoint-down(sm) {
			font-size: 12px;
			--bs-btn-padding-x: #{rem(14)};
			--bs-btn-padding-y: #{rem(9)};
		}
	}
	&__more-btn {
		--bs-btn-font-size: 14px;
		--bs-btn-padding-x: #{rem(18)};
		--bs-btn-padding-y: #{rem(8.5)};
		font-weight: 400;
		.icon {
			color: #fff;
			font-size: rem(20);
			margin-right: rem(10);
			@include media-breakpoint-down(sm) {
				color: $orange;
				font-size: 20px;
				margin-right: 5px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: 20px;
				margin-right: 5px;
			}
		}
		// span {
		// 	vertical-align: baseline;
		// }
		@include media-breakpoint-down(sm) {
			--bs-btn-padding-x: #{rem(14)};
			--bs-btn-padding-y: #{rem(9)};

			--bs-btn-border-color: #EBEBEB;
			--bs-btn-font-size: 12px;

			--bs-btn-color: #{$gray-900};
			--bs-btn-bg: #fff;
			--bs-btn-border-color: #EBEBEB;
			--bs-btn-hover-color: #{$gray-900};
			--bs-btn-hover-bg: #fff;
			--bs-btn-hover-border-color: #{$gray-900};
			--bs-btn-active-color: #{$gray-900};
			--bs-btn-active-bg: #fff;
			--bs-btn-active-border-color: #{$gray-900};
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(14);
			--bs-btn-padding-y: #{rem(8.5)};
		}
	}
	&__filter {
		@include media-breakpoint-down(sm) {
			width: rem(40);
			height: rem(40);
			max-width: 100%;
			position: relative;
			border: 1px solid #EBEBEB;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			.icon {
				font-size: 20px;
				color: $orange;
			}
		}

	}
	&__wrap {
		@include mt;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		z-index: 1000;
		padding: 30px 15px;
		display: flex;
		flex-direction: column;
		transform: translateX(-100%);
		&.active {
			transform: translateX(0);
		}
		.h2 {
			font-weight: 700;
			margin-bottom: 30px;
		}
		a {
			margin-top: auto;
		}
	}
	&__inner-search {
		position: relative;
		margin-bottom: auto;
		button {
			top: 0;
			right: 0;
		}
	}
	&__cross {
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 16px;
		height: 16px;
		&::before, &::after {
			@include a-cent;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #C2C2C2;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	&__headline {
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 15px;
	}
	&__inputs {
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
		.custom-input {
			font-size: 12px;
			&:not(:last-of-type) {
				margin-bottom: 10px;
			}
			input {
				width: 20px;
				height: 20px;
				background-color: #fff;
				border-color: #EBEBEB;
				margin-top: 0;
				margin-right: 10px;
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
	// head menu end

	.order-card {

		@include media-breakpoint-up(xl) {
			width: rem(284);
			height: rem(284);
		}
	}
	&--empty {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&__empty {
		display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
		text-align: center;
		img {
			max-width: rem(60);
			margin-bottom: rem(20);
		}
		.h1 {
			margin-bottom: rem(15);
			font-weight: 700;
		}
		p {
			font-size: 14px;
			margin-bottom: rem(30);
		}
	}
	&__btn {
		.icon {
			stroke: currentColor;
			stroke-width: 2px;
			margin-right: 5px;
			font-size: rem(24);
		}
	}

	table {
		margin-top: 0;
		margin-bottom: 0;
		tbody {
			tr {
				&:hover {
					box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
				}
			}
		}
		tr {
			@include mt;
		}
		th {
			font-size: 14px;
			&:first-child {
				padding-left: rem(44);
			}
			// &:last-child {
			// 	padding-right: rem(20);
			// }
		}
		td {
			vertical-align: middle;
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 10px;
			@include media-breakpoint-up(sm) {
				font-size: 14px;
			}
			.icon-stars {
				font-size: rem(14);
				color: $orange;
				margin-right: rem(5);
			}
			&:last-child {
				padding-right: rem(20);
			}
		}
		img {
			width: rem(40);
			border-radius: 6px;
			margin-right: rem(20);
		}
		label {
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: inherit;
			margin-bottom: 0;
			input {
				
				height: rem(16);
				background-color: #C2C2C2;
				border-color: #C2C2C2;
				outline: none;
				&:focus {
					box-shadow: none;
				}
			}
			.form-check-label {
				font-size: 12px;
				color: $gray-600;
				line-height: 200%;
			}
		}
	}
	&__product-wrap {
		position: relative;
		padding-left: rem(44);
		display: flex;
		align-items: center;
	}
	&__headline-link {
		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
	}
	&__ellipsis {
		cursor: pointer;
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: $gray-600;
		.icon {
			font-size: rem(24);
		}
	}
	&__tooltips {
		position: relative;
		z-index: 2;
		display: inline-flex;
		align-items: center;
		a {
			color: #8C8D8F;
			&:hover {
				// color:#EBEBEB;
				opacity: .5;
			}
			&:not(:last-child) {
				margin-right: rem(5);
			}
			.icon {
				font-size: 20px;
			}
			.icon-delete {
				color: $red;
			}
		}
	}
	.table-wrap-js {
		position: relative;
		overflow: auto;
	}
	.dataTables_wrapper {
		min-width: 860px;
		@include media-breakpoint-up(md) {
			min-width: 700px;
		}
	}
	&__tooltips-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBotMenu