mixin sBotMenu(data)
	// start sBotMenu
	+b.sBotMenu.section#sBotMenu&attributes(attributes)
		+e.row.row
			.col-sm-6.col-xl-auto
				+orderCard
			.col-sm-6.col-xl-auto
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-sm-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-sm-block
				+orderCard('Фиш&Чипс с соусом Чеддер и овощным салатом третья строка названия')
			.col-sm-6.col-xl-auto.d-none.d-md-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-md-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-md-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-md-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-xl-block
				+orderCard
			.col-sm-6.col-xl-auto.d-none.d-xl-block
				+orderCard
	// end sBotMenu