// start .sBotMenu
.sBotMenu {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	.order-card {

		@include media-breakpoint-up(xl) {
			width: rem(284);
			height: rem(284);
		}
	}
	table {
		
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBotMenu