.btn-toggle-pass{
	position: absolute;
	right: rem(10);
	top: rem(33);
	color: #c2c2c2;
	cursor: pointer;
	@include mt;
	&.active{
		color: $orange;
	}
}
.form-wrap{
 	&__input-wrap{
			// @extend .form-group;
			margin-bottom: rem(20);
			position: relative;
			&--tel{
				select{
					max-width: rem(86);
					padding-right: rem(25);
					background-position: calc(100% - #{rem(8)}) center;
				}
			}
		}
		&__input-title{
			font-size: rem(14);
			display: block;
			margin-bottom: rem(5);
		}
		&__input{
			// @extend .form-control;
		//  outline: 0 !important;
		 resize: none;
 	}
 	&__btn{
 		cursor: pointer;
 	}
 	label{
 		width: 100%;
 		display: block;
 	}
	&__group-title{
		font-weight: bold;
		font-size: rem(14);
		margin-bottom: rem(15);
	}
	&__group{
		margin-bottom: rem(20);
	}
	&__btn{
		@extend .btn, .btn-orange;
	}
}



.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}


.form-check{

}
.form-check-input{

}
.form-check-label{
	
}

// .custom-input{
// 	display: block;
// 	margin: auto;
	 
// 	margin-bottom: rem(20);
// 	cursor: pointer;
// 	position: relative;
// 	padding-left: rem(35px);
// 	display: inline-block;
// 	&__input{
// 		position: absolute;
// 		// opacity: 0;
// 		width: 1px;
// 		height: 1px;
// 		margin: -1px;
// 		border: 0;
// 		padding: 0;
// 		clip: rect(0 0 0 0 );
// 		overflow: hidden;
// 	}

// 	&__input[type="checkbox"] + &__lab{
// 		&::after{ 
// 			content:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
// 			position: absolute;
// 			@include a-cent; 
// 			opacity: 0;
// 		}
// 	}

// 	&__input[type="radio"] + &__lab{ 
// 		border-radius: 50%;
// 		&::after{ 
// 			border-radius: 50%;
// 		}
// 	}

// 	&__input:checked + &__lab{
// 		background-color: $success;
		 
// 		&::after{
	
// 			opacity: 1;
// 		}
// 	}
 
// }



// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}



// .jq-selectbox{
// 	max-width: 100%;
// 	margin: auto;
// 	display: block !important;
//  // height: auto;
// 	&__select{
// 		// background-color: transparent;
		 
// 		box-shadow: none !important; 
// 		background-image: none !important;
// 		text-shadow: none;
// 		font-family: $default-font;
// 		font-size: rem(14); 
// 		text-align: left;
// 		border: 1px solid #dadada;
// 		background-color: #fff;
// 		padding-top: rem(12);
// 		padding-bottom: rem(12);
// 		height: auto;
// 		border-radius: rem(6);
// 		@include mt;
// 		&:hover{
		 
// 		}
// 		&-text{
// 			// width: 100% !important;
// 			line-height: 1;
// 		}
// 	}	
// 	&__select:hover &__trigger{
		 
// 	}
// 	&__trigger{
// 		border: none;
// 		background-color: #dadada; 
// 		height: 100%;
// 		width: 40px;
// 		border-radius: rem(6);
// 		text-align: center;
// 		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAA40lEQVRIS9XVXRXCMAwF4HsVgARQABLAATgAZeAAHIAEJIADUFBOdtqdwdKk7OeBPa7pl61JW8J5QghLAKcYtiV58+bQCojgBcA0xj0BrD04iypgyu/CKmqARXALLQBd+AP9ATThGg0h7AAcvMoq4601rtAeYDPHnuRRXnAgMOEVLKg086LDb2tTHiRnZvN3TfRH6MBreic5H6f6o/RpqnCPfn0B2JC8Jkvb+zI4KWwnAVff52vulCqBVbDaptoXxdPKgrNgFo3Fk7tJg03QRDOwC7poAz7HZZIq97tNCzugFfYGUK5wGWWE5JYAAAAASUVORK5CYII=);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		@include mt;
// 		&:hover{
			

// 		}
// 	}
// 	&__trigger-arrow { 
// 		border: none;
    
// }
// li{
// 	font-size: rem(16);
// 	padding: em(10px) 10px em(10px);
// 	&:hover {
     
//     color: #fff;
// }
// }
// }


.select2-container--default .select2-selection--single {
	@extend .form-select;
	height: auto !important;
	padding-left: rem(10);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

// .choices__list.choices__list--dropdown{
// 	display: block !important;
// 	visibility: visible !important
// }

.choices__list--dropdown .choices__list{
	border-radius: inherit;
	overflow: hidden;
}

.choices{
	text-align: start
}
.choices__inner{
	
	@extend .form-select;
	border-color: #EBEBEB !important;
	background-image: none ;

}


.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable{
	padding-right: 10px ;
	padding-left: $input-padding-x;
	border-top: 1px solid #F6F6F6;
	// border-bottom: 1px solid #F6F6F6;
	// margin-top: -1px;
}

.choices[data-type*=select-one]::after{
	border: none !important;
	background-image: $form-select-indicator;
	width: rem(16px);
	height: rem(12px);
	background-repeat: no-repeat;
	background-position: right center;
	margin-top: rem(-6px);
	background-size: contain;
}
.choices[data-type*=select-one].is-open::after{
	transform: rotateX(180deg);
	margin-top: rem(-6px);
}

.choices__list--single{
	// padding: 0;
	// padding-left: 0;
	// padding-right: 0;
	padding: 0;
}

.choices__list--dropdown, .choices__list[aria-expanded]{
	border: 1px solid $form-select-focus-border-color !important;
	border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
		overflow: visible;
		z-index: -1;
		// box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
		&::before{
			content: '';
			// z-index: -1;
			box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
			border-radius: 8px;
			position: absolute;
			width: 100%;
			height: calc(100% + #{rem(40)});
			bottom: 0;
			left: 0;

		}
}
.choices{
	overflow: visible;
	z-index: 200;
}

.choices[data-type*=select-one].is-open{
	.choices__inner{
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
    // border-top-right-radius: 0;
		border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
		border-color: $form-select-focus-border-color !important;
	}
}


.is-flipped{
	.choices__list--dropdown, .choices__list[aria-expanded]{
		&::before{
			bottom: auto;
			top: 0;
		}
	}
	&.choices[data-type*=select-one].is-open{
		.choices__list--dropdown, .choices__list[aria-expanded]  {

			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			// border-top-left-radius: 0;
			// border-top-right-radius: 0;
		}
		.choices__inner{
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}


.input-group .choices{
	margin: 0;
	.choices__inner{
		border-radius: $border-radius 0 0 $border-radius;
		width: rem(86) !important;
		flex: 0 0 auto;
		padding-left: $input-padding-x;
		padding-right: rem(25);
		background-position: calc(100% - #{rem(8)}) center;
	border-color: $form-select-border-color !important;
	min-height: 100%;
	}
}

.input-group {
	choices[data-type*=select-one]{
		.choices__inner{
			// border-bottom-left-radius: $border-radius;
			// border-bottom-right-radius: 0;
			// border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.choices[data-type*=select-one].is-open{
		.choices__inner{
			border-top-left-radius: $border-radius;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-color: $form-select-focus-border-color !important;
		}
	}
	.is-flipped{
		// .choices__list--dropdown, .choices__list[aria-expanded]{
		// 	&::before{
		// 		bottom: auto;
		// 		top: -3px;
		// 	}
		// }
		&.choices[data-type*=select-one].is-open{
			.choices__inner{
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: 0;
				// border-top-left-radius: 0;
				// border-top-right-radius: 0;
			}
		}
	}
}
	// .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable,
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
	background: #fafafa
}

.choices[data-type*=select-one] .choices__inner{
	min-height: rem(40px);
}