mixin topLine(t, badge, avatar, mailingList)
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container-fluid
			.row
				.col-auto.d-xl-none
					+b.toggle-menu-mobile--js.d-xl-none
						span
						+e.counter 8
				if block
					block
				else if mailingList
					.col-auto
						+e.back.d-none.d-sm-inline-flex(href='#')
							+icon('chevron-left')
							| Список рассылок 
							span - 
						+e.title
							| Рассылка #234
				else
					.col-auto
						+e.title= t
							if badge
								.badge.bg-light.d-none.d-sm-flex 2344
				.col.p-0
				.col-auto
					+e.btn--balance(href="#")
						+b.toggle-text
							+icon("wallet")
							span.d-none.d-xl-block.me-1  Баланс: 
							| 
							strong 777 ₽
						+b.toggle-text--hover.d-none.d-xl-flex
							+icon("wallet")
							| Пополнить
				.col-auto
					+e.btn--alarm.--new(href="#modal-alarm").link-modal-aside-js
						+icon("alarm")
				if avatar
					.col-auto
						+e.btn-wrap
							+e.btn--cabinet
								+img('img/svg/praga.png')
								+icon("chevron-down")
							+e.btn-toggle
								+e.headline Прага | Доставка
								+e.rate
									+icon('stars')
									| 4.7
								+e.tarif
									p Тариф “Standart”
									p.timeout Средств хватит до 22.06.2022
								+e.goto(href="#") Перейти в тарифы
								+e.logout(href="#") Выйти
	// end topLine