
	// start .topLine
	main > .topLine{

		z-index: 211;
	}
	.topLine {
		border-bottom: 1px solid #EBEBEB;
		background-color: #fff;
		z-index: 5;
		--sPT: #{rem(15)};
		position: relative;
		@include media-breakpoint-up(xl) {

			font-size: 14px;
			margin-bottom: rem(20); 
		}
		font-size: 14px;
		--sPB: #{rem(15)};
		margin-bottom: rem(15); 
		.row{
			align-items: center;
			--bs-gutter-x: 10px;
		 }
		 &__btn{
			 @extend .btn, .btn-outline-light;
			 font-weight: normal;
			display: flex;
			justify-content: center;

				@include media-breakpoint-up(sm) {

					min-width: rem(40);
					height: rem(40);
				}
				min-width: 34px;
				height: 34px;
			border-radius: 100px;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			--bs-btn-color: #{$body-color};
			--bs-btn-border-color: #{$gray-500};
			font-size: 14px;
			@include media-breakpoint-down(xl) {
				&--alarm {
					padding: 0;
					background: none !important;
					border: none !important;
					min-width: 1px;
				}

				border: none ;
			}
			&--cabinet{
				padding: rem(5);
				border: 1px solid #EBEBEB !important;
				@include media-breakpoint-down(xl) {
					border: 1px solid #EBEBEB !important;
				}
				&:hover {
					background-color: #fff;
					box-shadow: 0px 2px 10px rgba(25, 28, 31, 0.1) !important;
					border: 1px solid #EBEBEB !important;
				}
				img {
					max-width: rem(22);
					margin-right: rem(10);
					@include media-breakpoint-up(sm) {
						max-width: rem(30);
					}
				}
				.icon-chevron-down {
					@include mt;
					font-size: 12px;
					color: $orange;
					margin-right: rem(4);
				}
				&.active {
					box-shadow: 0px 2px 10px rgba(25, 28, 31, 0.1) !important;
					background-color: #fff;
					border: 1px solid #EBEBEB !important;
					.icon-chevron-down {
						transform: rotate(180deg);
					}
				}
			}
			&--balance{
				@include media-breakpoint-up(xl) {

					padding-left: rem(27);
					padding-right: rem(27);  
				}
				padding-left: rem(12);
				padding-right: rem(12);  
				border: 1px solid #ebebeb!important;
				.toggle-text{
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: var(--opa2, 1);
					@include mt;
					@include media-breakpoint-down(sm) {
						font-size: 14px;
					}
					.icon {
						@include media-breakpoint-down(sm) {
							font-size: 20px;
						}
					}
					&--hover{
						@include a-cent;
						position: absolute;
						opacity: var(--opa, 0);
						color: #fff;
						.icon{
							display: block;
							color: #fff;
						}
					}
				}
				@include media-breakpoint-up(xl) {
				&:hover{
					--opa: 1;
					--opa2: 0;
				}
				}
				@include media-breakpoint-up(xl) {
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #{$primary};
				--bs-btn-hover-border-color: #{$primary};
				// --bs-btn-focus-shadow-rgb: 217,104,0;
				--bs-btn-active-color: #fff;
				--bs-btn-active-bg: #{$primary};
				--bs-btn-active-border-color: #{$primary};
				// --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
				position: relative;
				--bs-btn-disabled-color: #fff; 
				&:hover{ 
					box-shadow: 0px 2px 10px rgba(0, 159, 227, 0.5) !important;
				}
				}
				.icon{
				@include media-breakpoint-up(xl) {

						display: none;
					}
					color: $primary;
					margin-right: rem(10);
					@include media-breakpoint-down(sm) {
						margin-right: 2px;
					}
				}
			}

			&--alarm{
				--bs-btn-color: #8c8d8f; 
				--bs-btn-hover-color: #{$orange};
				--bs-btn-hover-bg:transparent;
				--bs-btn-hover-border-color: #C2C2C2; 
				--bs-btn-active-color: #{$orange};
				--bs-btn-active-bg: transparent;
				--bs-btn-active-border-color: #C2C2C2;
				.icon {
					@include media-breakpoint-down(sm) {
						font-size: 20px;
					}
				}
			}
			&--new{ 
				--bs-btn-color: #{$body-color};
				position: relative;
				&::before{
					content: '';
					position: absolute;
					@include media-breakpoint-up(xl) {

						right: rem(7);
					}
					right: rem(2);
					top: rem(7);
					background-color: $orange;
					width: rem(5 );
					height: rem(5 );
					border-radius: 50%;
				} 
			}
		 }
		&__btn-wrap {
			position: relative;
			z-index: 210;
		}
		&__btn-toggle {
			@include mt(0);
			cursor: auto;
			position: absolute;
			right: 0;
			border: 1px solid #EBEBEB;
			box-shadow: 0px 5px 15px rgba(25, 28, 31, 0.1);
			background-color: #fff;
			border-radius: 8px;
			padding: rem(20);
			z-index: 201;
			text-align: left;
			opacity: 0;
			pointer-events: none;
			top: calc(100% + 10px);
			width: calc(100vw - 26px);
			@include media-breakpoint-up(sm) {
				width: 230px;
			}
			&.active {
				opacity: 1;
				pointer-events: all;
			}
			a {
				display: block;
				font-size: 12px;
				@include media-breakpoint-up(md) {
					font-size: 14px;
				}
			}
		}
		&__headline {
			font-weight: 600;
			font-size: 12px;
			margin-bottom: rem(5);
			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
		}
		&__rate {
			font-size: 12px;
			margin-bottom: rem(12);
			.icon {
				font-size: 12px;
				margin-right: 5px;
				color: $orange;
				vertical-align: text-top;
			}
		}
		&__tarif {
			font-size: 12px;
			margin-bottom: 10px;
			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
			p {
				margin-bottom: 0;
				&:not(:last-child) {
					margin-bottom: 5px;
				}
				&.timeout {
					color: $gray-600;
					@include media-breakpoint-up(md) {
						font-size: 12px;
					}
				}
			}
		}
		&__goto {
			color: $gray-900;
			margin-bottom: 10px;
			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
			&:hover {
				color: $gray-900;
				opacity: .8;
			}
		}
		&__logout {
			color: $red;
			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
			&:hover {
				color: $red;
				opacity: .8;
			}
		}
		&__back {
    	align-items: center;
			font-size: 12px;
			color: $gray-900;
			&:hover {
				color: $gray-900;
				opacity: .8;
			}
			@include media-breakpoint-up(md) {
				font-size: 14px;
			}
			.icon {
				flex: 0 0 auto;
				color: $orange;
				font-size: 12px;
				margin-right: 5px;
			}
			span {
				color: $gray-500;
				margin-left: rem(10);
				margin-right: rem(10);
			}
		}
		&__title{
			display: inline-flex;
			align-items: center;
			font-weight: bold;
			font-size: 14px;
			@include media-breakpoint-up(sm) {
				font-size: 14px;
			}
			@include media-breakpoint-down(xl) {
				display: none;
			}
			@include media-breakpoint-down(md) {
				padding: 0 rem(15);
			}
			.badge{
				font-weight: normal;
				border-radius: 100px;
				margin-left: rem(5px);
				--bs-badge-color: #{$body-color};
				--bs-badge-padding-y: 0.35em;
				--bs-badge-padding-x: 0.35em;
				text-align: center;
				min-width: rem(20px);
				display: inline-flex;
				height: rem(20px);
				align-items: center;
				justify-content: center;
				padding: 0 rem(7.200);
			}
		}
	.h2 {
		text-align: left;
		font-weight: 700;
		font-size: rem(24);
		margin-bottom: rem(15);
		line-height: 1.2;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine