mixin sSettings(data)
	// start sSettings
	+b.sSettings.position-relative&attributes(attributes) 
		+form-wrap
			+gr("Токен чат-бота")
				.small.mb-2 Ключ доступа к созданному вами чат-боту в телеграм который вы получили от #[a(href="#").strong @BotFather].
				+link-block('2014576981:AAFEMZG5cyJi5oTMIiUqBjKYEjqFu0oLZLw')
			+gr("Прием заказов")
				label.form-check.form-switch.form-switch--base
					input.form-check-input(name='model' type='checkbox' checked role='switch')
					.form-check-label Заказы принимаются
			+gr("Информация о чат-боте")

				.row.align-items-center
					.col-auto
						+b.chat-avatar(style="background: #6F64EC;color: #FFFFFF;") П
					.col.small
						.strong.mb-1 Прага | Доставка ❤️
						.strong.mb-1: a(href="#")  @prahacafebot
						.text-secondary.mb-1 Бот
						.mb-1 Доставляем по всей Самаре 🚗🍰
			+gr()
				.alert.alert-primary.small(class="d-md-flex text-md-start text-center align-items-center" role="alert")
					img(src="img/svg/info_square_icon.svg", alt="").me-md-2.mb-md-0.mb-1.img-to-svg.text-primary
					.text-body.flex-grow-1.me-md-2.mb-md-0.mb-1 Вся основная информация о чат-боте (кроме юзернейма): название, фотография и описание меняется только через #[a(href="#") @BotFather] в телеграм. Ознакомьтесь с инструкцией и нашими рекомендациями ниже, чтобы качественно заполнить профиль вашего чат-бота в телеграм.
			+gr()
				+b.accordion-block
					mixin item(t)
						+b.accordion-item.dd-group-js&attributes(attributes)
							+e.head.dd-head-js= t
								+e.toggle
							+e.body.dd-content-js
								block
					+item('Редактирование фотографии (аватара) чат-бота')
						ol
							li Зайдите в Telegram и запустите чат-бота #[a(href="#") @BotFather].
							li Отправьте ему команду ‘#[strong /mybots]’, что означает #[strong “мои боты”].
							li Далее в новом сообщении со списком ваших чат-ботов выберите нужный и нажмите на него.
							li Далее в новом сообщении со списком действий для вашего чат-бота выберите пункт #[strong “Edit bot”].
							li Далее выберите из сообщения пункт меню #[strong “Edit Botpic”].
							li Далее прикрепите и отправьте чат-боту #[a(href="#") @BotFather] логотип вашего заведения в формате фотографии, не документа.
							li Если вы все сделали правильно, бот #[a(href="#") @BotFather] напишет вам сообщение #[strong “Success! Profile photo updated.”] Теперь фотография установлена.
					+item('Редактирование названия чат-бота')
						ol
							li Зайдите в Telegram и запустите чат-бота #[a(href="#") @BotFather].
							li Отправьте ему команду ‘#[strong /mybots]’, что означает #[strong “мои боты”].
							li Далее в новом сообщении со списком ваших чат-ботов выберите нужный и нажмите на него.
							li Далее в новом сообщении со списком действий для вашего чат-бота выберите пункт #[strong “Edit bot”].
							li Далее выберите из сообщения пункт меню #[strong “Edit Name”].
							li Далее отправьте чат-боту новое название вашего заведения, вы также можете использовать эмоджи. Например, #[strong “ Хорошая пицца 🍕”].
							li Если вы все сделали правильно, бот #[a(href="#") @BotFather] напишет вам сообщение #[strong “Success! Name updated.”] Теперь новое название применено.
					+item('Редактирование информации профиля чат-бота')
						ol
							li Зайдите в Telegram и запустите чат-бота #[a(href="#") @BotFather].
							li Отправьте ему команду ‘#[strong /mybots]’, что означает #[strong “мои боты”].
							li Далее в новом сообщении со списком ваших чат-ботов выберите нужный и нажмите на него.
							li Далее в новом сообщении со списком действий для вашего чат-бота выберите пункт #[strong “Edit bot”].
							li Далее выберите из сообщения пункт меню #[strong “Edit About”].
							li Далее отправьте чат-боту новую информацию профиля чат-бота, вы также можете использовать эмоджи. Например, #[strong “Доставка роллов и пиццы в Санкт-Петербурге 🍜Азиатская и европейская кухня 🍕”].
							li Если вы все сделали правильно, бот  #[a(href="#") @BotFather] напишет вам сообщение #[strong “Success! About section updated.”] Теперь новое название применено.
					+item('Редактирование описания чат-бота')
			+gr()
				.row.small.mt-4
					.col-auto
						a(href="#").text-danger.strong  Удалить чат-бота навсегда
					.col-auto
						a(href="#").text-secondary  Отключить чат-бота
			+gr('Приветственное сообщение')
				p.small Первое сообщение, которое получает пользователь после авторизации в чат-боте.
				+input("Редактируемое приветственное сообщение",'textarea')(style="height: 10rem")
				+b.message-prev
						.strong Пример:
						|{name}, приветствуем вас в нашем чат-боте 👋🏻
						| <br> 🔸 Для навигации в чат-боте используйте кнопку "Меню". 🔸<br>  🎁 Вам начислено 100 бонусных баллов за регистрацию в чат-боте 🎁. <br> Заказывайте доставку блюд через чат-бота и получайте бонусные баллы, которыми сможете оплачивать заказы.
				.border-orange.border-start.border-2.small.ps-20.mb-20
					.mb-1 #[strong {name}] - вывести юзернейм пользователя;
					.mb-1 #[strong {bonus}] - вывести количество бонусов, которые вы установили в качестве начисления новым пользователям в разделе #[a(href="#") Настройки и оплата];
					.mb-1 #[strong {namemybot}] - вывести название вашего заведения из  #[a(href="#") Общих настроек].
			+gr('Отображение товаров')
				p.small Выберите наиболее подходящий для вас режим отображения товаров в разделах меню.
			+gr('Адрес заведения')
				p.small От этого адреса будет рассчитываться стоимость доставки, если вы выберите “Рассчет по формуле”.
				+input("Введите адрес заведения")
			+gr('Валюта')
				+input("Российский рубль, ₽",'select').custom-select-js
			+gr('Валюта')
				+input("Стоимость доставки")
					span.text-after  ₽
			+gr('Максимальный радиус доставки')
				+input("Введите максимальный радиус доставки")
					span.text-after  км
			+gr('Способы оплаты при доставке курьером')
				.row.gy-2
					.col-auto
						+in-c("checkbox",'Онлайн-оплата')
					.col-auto
						+in-c("checkbox",'Оплата наличными')
					.col-auto
						+in-c("checkbox",'Оплата картой')( checked)
			+gr('Способы оплаты при доставке курьером')
				.row.gy-2
					.col-auto
						+in-c("radio",'Онлайн-оплата')(name="wallet-meth" checked)
					.col-auto
						+in-c("radio",'Оплата наличными')(name="wallet-meth")
					.col-auto
						+in-c("radio",'Оплата картой')(name="wallet-meth")
			+gr("Платежный токен")
				p.small Введите платежный токен от онлайн-кассы для подключения онлайн-оплаты.
				+input("токен")(value="381764678:TEST:38483")

			+gr()
				.alert.alert-primary.small(class="d-md-flex text-md-start text-center align-items-center" role="alert")
					img(src="img/svg/info_square_icon.svg", alt="").me-md-2.mb-md-0.mb-1.img-to-svg.text-primary
					.text-body.flex-grow-1.me-md-2.mb-md-0.mb-1 Читайте инструкцию о том, как #[a(href="#").tdu подключить онлайн-оплату] для вашего чат-бота.
			+gr("Статус бонусной системы")
				label.form-check.form-switch.form-switch--base
					input.form-check-input(name='model' type='checkbox' checked role='switch')
					.form-check-label Включена
			+gr("Бонус за приглашение")
				p.small Количество бонусов, начисляемые пользователю за приглашенного им пользователя который совершил заказ.
				.row
					.col
						+input("Введите значение")
							span.text-after  %
					.col-sm-3
						+input("Процент",'select').custom-select-js
			+gr("Понедельник")
				.row.gy-3
					.col-sm-6
						+input("8:00",'select').custom-select-js 
					.col-sm-6
						+input("00:00",'select').custom-select-js
			+gr()
				.alert.alert-orange.small(class="d-md-flex text-md-start text-center align-items-center" role="alert")
					img(src="img/svg/info_square_icon.svg", alt="").me-md-2.mb-md-0.mb-1.img-to-svg
					.text-body.flex-grow-1.me-md-2.mb-md-0.mb-1 Чат-бот с текущим тарифом не имеет возможности предоставления API. Перейдите на другой тариф, чтобы открыть API. <br>
						a.strong(href="#").text-orange Перейти в тарифы
			+gr("API ключ")
				+link-block('fpqxou59R9MAGmGRzY3066CfJc71TJZ8GR3D64wGhwPzK0HY32')
			+gr()
				.row.align-items-center
					.col-auto
						button.btn.btn-orange 
							+icon("reload").me-2
							| Создать новый ключ
					.col-auto
						a.small.strong(href="#")  Перейти к документации API
			+qrCode
		.footer-line
			.container-fluid.text-end
				button.btn.btn-orange Сохранить изменения

	// end sSettings