 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		@include mt;
		border-radius: 8px;
		border: 1px solid var(--primary-gray-lines, #E4E4E4);
		font-size: rem(12);
		width: 100%;
		padding-left: rem(14);
		padding-top: rem(11);
		padding-bottom: rem(11);
		padding-right: rem(30);
		outline: none;
		@include media-breakpoint-up(md) {
			font-size: rem(14);
			padding-top: rem(8.5);
			padding-bottom: rem(8.5);
			padding-left: rem(19);
		}
		&:focus {
			background-color: #fff;
			border-color: #c2c2c2;
			box-shadow: 0 5px 15px rgba(25,28,31,.1);
			color: $body-color;
		}
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		color: $orange;
		position: absolute;
		right: rem(9);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
		.icon {
			font-size: rem(20);
		}
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}




.nav-chat{
	border-right: 1px solid #EBEBEB;
	overflow-y: auto;
	font-size: 14px;
	background-color: #fff;
	padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
	li{
		margin: rem(15) rem(15);
		list-style: none;
	}
	.btn{
		display: block;
		padding: 0;
		position: relative;
		border: none;
		height: rem(50);
		width: rem(50);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(12);
		font-weight: bold;
		font-size: rem(20);
		@include mt;
		&:hover{
			border-radius: 50%;
			img{
				border-radius: 50%;

			}
			// clip-path: circle(50% at 50% 50%);
		}
		
		img{
			@include mt;
			@extend .res-i;
			border-radius: rem(12);
		}
		&::before{
			content: '';
			position: absolute;
			left: rem(-15);
			height: 100%;
			width: 2px;
			background-color: #191c1f;
			@include mt;
			opacity: 0;
		}
		// &:hover,
		&.active{
			&::before{
				opacity: 1;
			}
		}
		// color: #fff !important;
	}
	.btn-orange{
		font-size: 2.2rem;
		font-weight: normal;
	}
	&__counter{
		position: absolute;
		right: 0;
		top: 0;
		background-color: $danger;
		color: #fff;
		font-size: rem(12);
		width: rem(20);
		height: rem(20);
		border-radius: 50%;
		padding-top: rem(1);
	}
}
.nav-main-wrap{
 position: relative;
 min-width: rem(80px) ;
}
.nav-main{
	display: flex;
	flex-direction: column;
	--sp-x: #{rem(20)};
	--link-w: calc(var(--nav-main-w) - var(--sp-x) * 2);
	padding: rem(15) rem(20)  calc(env(safe-area-inset-bottom) + 15px);
	border-right: 1px solid #EBEBEB;
	
	background-color: #fff;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	// &> ul{
	// 	margin-right: rem(-20);
	// 	padding-right: rem(20);
	// }
	scroll-behavior: contain;
	@include media-breakpoint-down(xl){
	width: var(--nav-main-w);
	}
	font-size: 14px;
	@include media-breakpoint-up(xxl) {
		position: relative;
	}
	@include media-breakpoint-only(xl) {
		.icon-chevron-down {
			opacity: 0;
			pointer-events: none;
		}
	}
	@include media-breakpoint-only(xl){

		position: absolute;
		&:not(.hover) {
			.nav-main__ddgroup-wrap{
				display: none !important;
			}
		}
		&.hover{
			--tr:0;
			--link-small: var(--link-w);
			.icon-chevron-down {
				opacity: 1;
				pointer-events: all;
			}
			.nav-main__ddgroup-wrap {
				width: auto;
			}
		}
	}
	position: relative;
	// left: var(--nav-chat-w);
	// right: 0;
	left: 0;


	ul{
		
		list-style: none;
	}
	li{
		margin-bottom: 5px;
	}
	&__link{
		display: flex;
		color: $body-color  !important;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		@include media-breakpoint-up(xxl) {

			padding: rem(10) rem(22);
			width: var(--link-w);
		}
		width: var(--link-small, var(--link-hide) );
		padding: rem(8) rem(8);
		border-radius: 8px;
		.icon{
			font-size: rem(24);
			color: var(--color, currentColor);
			@include mt;
			&-document{
				stroke: currentColor;
				stroke-width: 2px;
				fill: none !important;
			}
		}
		&:hover,
		&.active{
			background: #F6F6F6;
			--color: #{$orange};
		}
		&--js {
			position: relative;
			.icon-chevron-down {
				@include mt;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: rem(12);
				right: 10px;
				color: $orange;
			}
			&.active {
				.icon-chevron-down {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	&___icon-wrap{
		text-align: center;
		width: rem(26);
		flex:  0 0 auto;
	}
	&__text{
		margin-left: rem(12);
		display: flex;
		
		align-items: center;
		.badge{
			margin-left: rem(5);
			font-size: rem(12); 
		}
	}
	.icon-setting{

		// color: $secondary;
	}
	&__text,
	.icon-setting{
		@include mt;
		position: relative;
		// transform: translateX(var(--tr, 50px));
		@include media-breakpoint-up(xxl){
			--tr:0;
		}
	}
	ul{
		flex-grow: 1;
	}
	&__ddgroup-wrap {
		// @include mt;
		display: none;
		padding: rem(20) rem(20) rem(20) rem(0);
		margin-bottom: rem(15);
		border-bottom: 1px solid #EBEBEB;
		@include media-breakpoint-up(xxl) {
			padding-left:   rem(22); 
		}
		padding-left: rem(8);
		@include media-breakpoint-only(xl) {
			width: 40px;
		}
		&.active {
			display: block;
		}
		a {
			display: block;
			color: $gray-900;
			@include media-breakpoint-only(xl) {
				white-space: nowrap;
			}
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			&:hover, &.active {
				color: $orange;
			}
		}
	}
}

.cabinet-btn{
	display: flex;
	align-items: center;
	--bs-link-color: #{#8C8D8F}; 
	--bs-link-hover-color: #{$orange}; 
	flex: 0 0 auto;
	margin-top: 30px;
	
	position: relative;
	overflow: hidden;
	
	@include media-breakpoint-up(xxl) { 
		width: var(--link-w);
	}
	width: var(--link-small, var(--link-hide) );
	
	&__icon-wrap{
		background: #F6F6F6;
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex:  0 0 auto;
		.icon{
			
			color: #c2c2c2;
		}
	}
	.icon{
		font-size: rem(24);
		
	}
	&__text{
		color: $body-color;
		margin-left: rem(10); 
		// flex-grow: 1;
		margin-right: auto;
		width: calc(100% - #{rem(40 + 10 + 10 + 24) }) ;
		@include mt;
		position: relative;
		// transform: translateX(var(--tr, 50px));
		@include media-breakpoint-up(xxl){
			--tr:0;
		}
	}
	&__name{
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	&__id{
		color: $secondary;
		.icon{

		}
	}
	.icon-setting{
		font-size: rem(24);
		margin-left: rem(10);
		color: #8C8D8F;
	}
}
.card{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border: 1px solid #EBEBEB;
	border-radius: rem(12px);
	@include mt;
	position: relative;
	@include media-breakpoint-up(xxl) {
		
		padding: rem(20px) rem(30px);
	}
	padding: rem(20px) rem(20px);
	&:hover{
		box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
		--op: 1;
	}
	min-height: 100%;
}

.chat-item{
	text-align: center;
	z-index: 2;
	@extend .card;
	


	&__head{
		margin-bottom: rem(20);
		* {
			z-index: 2;
			position: relative;
		}
	}
	&__footer{
		.strong{
			font-size: 1rem;
		}
		* {
			z-index: 2;
			position: relative;
		}
		flex-grow: 1;
		margin-bottom: rem(20);
	}
	&__tooltip{
		display: inline-block;
		cursor: pointer;
		position: relative;
		&:hover{
			--show: true;
		}
		.icon{
			color: $primary;
			// fill: none;
			// stroke: ;
		}
	}
	&__tooltip-dropdown{
		position: absolute;
		@include a-cent1(x);
		bottom: calc(100% +  12px);
		background: rgba($color: #191C1F, $alpha: .7);
		border-radius: 6px;
		color: #fff;text-align: center;
		width: rem(130);
		font-size: rem(12);
		padding: rem(10);
		line-height: calc(14 / 12);
		@include mt;
		opacity: var(--show, 0);
		visibility: var(--show, hidden);
		@include media-breakpoint-down(md){
			margin-left: 20px;
		}
		&::before{
			content: '';
			top: 100%;
			@include a-cent1(x);
			@include triangle(10px, rgba($color: #191C1F, $alpha: .7), down);
			@include media-breakpoint-down(md){
				margin-left: -20px;
			}
		}
	}
	&__btn{
		width: 100%;
		z-index: 2;
		// position: relative;
		position: relative;
		* {
		}
		
	}
	&__btn-wrap{
		position: relative;
		.btn-primary{
			position: absolute;
			left: 0;
			top: 0;
			@include mt;
			opacity: var(--op, 0);
		}
	}
}

.btn-center{ 
		display: inline-block;
		padding: 0; 
		border: none;
		height: rem(120);
		width: rem(120);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(20);
		font-weight: bold;
		font-size: rem(60);
		margin-bottom: rem(20);
		position: static;
		z-index: 1;
		img{
			border-radius: rem(20);

		}
		&::before{
			content: '';
			@include a-cent;
			// z-index: -1;
		}
		// &:hover,
		&.active{
			&::before{
				opacity: 1;
			}
		} 
	}
	
	.chat-item{
	&__center{
		@include a-cent;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}
.chat-item--add-chart{
	position: relative;
	padding: 0 !important;
	padding-top: 100% !important;
	position: relative;
	font-size: 14px;
	&:not(:hover) {
		border-style: dashed;
	}
	
	// padding-bottom: rem(135);
	
	.btn-center{
		height: rem(50);
		width: rem(50);
		font-size: 2.2rem;
		font-weight: normal;
		border-radius: 12px;
		position: static;
		&::before{
			content: '';
			// @include a-cent;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	.strong{
		font-size: 1rem;
	}
}

.qr-code {
	font-size: 14px;
	@include media-breakpoint-up(lg) {
		margin-top: rem(20);
	}
	&__row{
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(15)};
		align-items: center;
	}
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		padding: rem(14);
		width: rem(140);
		box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
		border-radius: 12px;
		@include media-breakpoint-up(xl) {
			padding: rem(20);
			width: rem(200);
		}
		@include media-breakpoint-down(sm) {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			width: 100%;
			max-width: rem(160);
		}
	}
	&__content {
		max-width: rem(470);
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&__title {
		font-weight: 700;
		margin-bottom: rem(10);
	}
	p {
		margin-bottom: rem(10);
	}
	a {
		font-weight: 700;
	}
}

.order-card {
	padding: rem(20);
	position: relative;
	.form-check{
		// display: flex;
		display: inline-flex;
		align-items: center;
		padding-left: 0;
		input{
			margin-right: 10px;
			float: none;
			margin-left: 0;
		}
	}
	@include media-breakpoint-up(xxl) {
		padding: rem(20);
	}
	img {
		width: rem(100);
		border-radius: 12px;
		max-width: 100%;
		@include media-breakpoint-up(lg) {
			width: rem(60);
		}
		@include media-breakpoint-up(xl) {
			width: rem(80);
		} 
	}
	&__row {
		flex-grow: 1;
	}
	&__rate {
		font-size: 12px;
		margin-bottom: rem(5);
		@include media-breakpoint-up(xl) {
			font-size: 14px;
		}
		.icon {
			font-size: rem(12);
			color: $orange;
			margin-right: rem(5);
			vertical-align: baseline;
		}
	}
	&__orders {
		font-size: 12px;
		color: $gray-600;
	}
	&__info {
		margin-bottom: rem(15);
		font-size: 12px;
		a {
			// position: relative;
			display: inline-block;
			margin-bottom: 10px;
			text-decoration: underline;
			font-size: 14px;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&:hover {
				color: $orange;
			}
		}
	}
	&__type {
		font-size: 14px;
	}
	&__food {
		margin-bottom: 5px;
	}
	label {
		position: relative;
		z-index: 2;
		cursor: pointer;
		input {
			cursor: pointer;
			height: rem(16);
			background-color: #C2C2C2;
			border-color: #C2C2C2;
			outline: none;
			// top: 4.5px;
			&:focus {
				box-shadow: none;
			}
		}
		.form-check-label {
			font-size: 12px;
			color: $gray-600;
			line-height: 200%;
		}
	}
	&__tooltips {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		a {
			color: #8C8D8F;
			&:hover {
				// color:#EBEBEB;
				opacity: .5;
			}
			&:not(:last-child) {
				// margin-right: rem(15);
			}
			.icon {
				font-size: 20px;
			}
			.icon-delete {
				color: $red;
			}
		}
	}
	&__sort {
		background-color: $gray-100;
		border-radius: 48px;
		width: 20px;
		height: 20px;
		color: $gray-600;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			font-size: rem(12) !important;
		}
	}
}


.add-photo{
	&--label{

		display: block;
		text-align: center; 
		border: 1px dashed #EBEBEB;
		@include block(640, 354);
		overflow: hidden;
		cursor: pointer;
	}
	&__inner{
		@include a-cent;
		width: 100%;
			// display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;	
	}
	&__text{
		max-width: 490px;
		margin-left: auto;
		margin-right: auto;
		color: #8C8D8F;
		display: block;
		margin-bottom: 15px;
	}
	&__btn{
		@extend .btn, .btn-outline-primary;
		font-weight: bold;
		font-size: 14px;
		width: 132px;
		padding: 7px;
		position: relative;
		z-index: 2;
		&::before{
			content: '';
			@include a-cent;
		}
	}

	border-radius: 12px; 
	font-size: 14px;
	input{
		@extend .invisible;
	}

	.img-preview{
		position: absolute;
		@include a-cent;
		object-fit: cover;
		width: 100%;
		height: 100%;
		@include mt;
		z-index: 3;
		&:not(.active) {
			// display: none;
			opacity: 0;
		}
	}
	&--2 {
		padding: rem(30) rem(20);
		border-radius: 12px;
		border: 1px dashed #E4E4E4;
		text-align: center;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			min-height: rem(354);
		}
		.small {
			@include media-breakpoint-down(md) {
				font-size: rem(12);
			}
		}
		.img-preview {
			&:hover {
				& + .avatar-block__caption .btn {
					--bs-btn-color: #fff;
					--bs-btn-bg: #{$primary};
				}
			}
		}
		.avatar-block {
			&__caption {
				max-width: rem(459);
				margin: 0 auto;
				img {
					margin-bottom: rem(15);
				}
			}
		}
		.btn {
			--bs-btn-padding-y: #{rem(6.5)};
			--bs-btn-font-size: #{rem(14)};
			--bs-btn-border-radius: #{rem(8)};
			width: 100%;
			max-width: rem(132);
		}
	}
	&--3 {
		aspect-ratio: 1;
		border-radius: 12px;
		border: 1px dashed #E4E4E4;
		color: #C2C2C2;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		@include mt;
		.icon {
			font-size: rem(36);
		}
		.avatar-block__btn-delete  {
			display: none;
			width: rem(50);
			height: rem(50);
			border-radius: 50%;
			color: #fff;
			background-color: rgba($color: $body-color, $alpha: .9);
			align-items: center;
			justify-content: center;
			z-index: 12;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			.icon {
				font-size: rem(24);
			}
		}
		&:hover {
			border-color: $primary;
			color: $primary;
		}
		.img-preview {
			&.active {
				& ~ .avatar-block__btn-delete {
					display: flex;
				}
			}
		}
	}
}

.add-photo-wrap{
	position: relative;
	&__btn-delete{
		@include a-cent1(x);
		bottom: rem(20);
		z-index: 4;
		width: rem(50);
		height: rem(50);
		border-radius: 50%;
		@extend .btn;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		cursor: pointer;
		.icon{
			color: #fff;
		}
		background: rgba($color: #191C1F, $alpha: .3);
	}
	&:hover &__btn-delete{
		background: rgba($color: #191C1F, $alpha: .7);

	}
}

.table {
	thead {
		tr {
			&:hover {
				box-shadow: none;
			}
		}
	}
}

.drug-wrap-block-js{
	> :first-child{
		.drop-top-js{
			opacity: 0.4;
			pointer-events: none;
		}
	}
	
	> :last-of-type{
		.drop-down-js{
			opacity: 0.4;
			pointer-events: none;
		}
	}

}

.rate-label {
	font-size: 12px;
	margin-bottom: rem(5);
	background-color: rgba($color: $orange, $alpha: .05);
	padding: 5px 10px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	@include media-breakpoint-up(xl) {
		font-size: 14px;
	}
	.icon {
		font-size: rem(12);
		color: $orange;
		margin-right: rem(5);
		// vertical-align: baseline;
		position: relative;
		top: rem(-1.5);
	}
}

.btn-on-load {
	position: relative;
	color: transparent;
	pointer-events: none;
	&:before {
		content: '';
		animation: three-quarters-loader 1250ms infinite linear;
		border-right-color: transparent;
		// border: 2px solid #fff;
		// border-radius: 16px;
		display: block;
		position: relative;
		text-indent: -9999px;
		width: rem(24);
		height: rem(24);
		position: absolute;
		left: calc(50% - rem(12));
    top: calc(50% - rem(12));

		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6932 2.04196C11.0552 2.23316 10.7686 3.01438 11.1313 3.57364C11.3583 3.9238 11.6568 4.0558 12.2249 4.05716C15.0262 4.064 17.8495 5.89082 19.1421 8.53288C21.7225 13.8074 17.863 19.9921 11.9909 19.9921C5.93985 19.9921 2.09132 13.4477 5.0316 8.15788C5.50073 7.31389 5.45596 6.75308 4.89318 6.42327C3.99281 5.89564 3.18309 6.71202 2.48334 8.85308C-0.0777704 16.6894 7.35656 24.1348 15.1473 21.5358C23.0535 18.8983 24.4601 8.32194 17.5231 3.67147C15.8709 2.56386 12.8081 1.70778 11.6932 2.04196Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6932 2.04196C11.0552 2.23316 10.7686 3.01438 11.1313 3.57364C11.3583 3.9238 11.6568 4.0558 12.2249 4.05716C15.0262 4.064 17.8495 5.89082 19.1421 8.53288C21.7225 13.8074 17.863 19.9921 11.9909 19.9921C5.93985 19.9921 2.09132 13.4477 5.0316 8.15788C5.50073 7.31389 5.45596 6.75308 4.89318 6.42327C3.99281 5.89564 3.18309 6.71202 2.48334 8.85308C-0.0777704 16.6894 7.35656 24.1348 15.1473 21.5358C23.0535 18.8983 24.4601 8.32194 17.5231 3.67147C15.8709 2.56386 12.8081 1.70778 11.6932 2.04196Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		@keyframes three-quarters-loader {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.empty-chat-bot {
	width: 100%;
	max-width: rem(732);
	border: 1px solid #E4E4E4;
	border-radius: 12px;
	padding: rem(32) rem(15) rem(28) rem(15);
	@include media-breakpoint-up(md) {
		padding: rem(40);
	}
	.h2 {
		@include media-breakpoint-down(md) {
			font-size: rem(18);
		}
	}
	&__img-wrap {
		@include block(1,1);
		max-width: rem(100);
		margin-bottom: rem(10);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) {
			max-width: rem(150);
			margin-bottom: rem(20);
		}
		& > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.tariffs {
	margin-top: rem(41);
  background-color: $white;
  table {
    width: 100%;
    font-size: rem(10);
    line-height: 140%;
    @include media-breakpoint-up(sm) {
      font-size: rem(12);
    }
    @include media-breakpoint-up(md) {
      height: 1px;
      font-size: rem(14);
    }
    @include media-breakpoint-down(md) {
      display: block;
      position: relative;
    }
  }
  thead {
    vertical-align: top;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    z-index: 100;
    background-color: #fff;
		margin-left: calc(var(--bs-gutter-x) * -0.5);
		margin-right: calc(var(--bs-gutter-x) * -0.5);
		filter: drop-shadow(0px 5px 10px rgba(25, 28, 31, 0.10));
    @include media-breakpoint-up(md) {
      border: none;
			margin-right: 0;
			margin-left: 0;
      display: table-row-group;
    }
    th {
			border: 1px solid #E4E4E4;
			padding: rem(24);
      &:not(:first-child) {
				width: rem(188);
      }
    }
    @include media-breakpoint-down(md) {
      tr {
        display: flex;
				box-shadow: 0px 2px 10px 0px rgba(25, 28, 31, 0.10);
        th {
          width: calc(100% / 4);
          display: flex;
          justify-content: center;
          align-items: center;
					padding: rem(12) rem(6);
					border: none;
          &:first-child {
						display: none;
          }
					&:nth-child(2) {
						padding-left: rem(18);
					}
          &:last-child {
            padding-right: rem(18);
          }
        }
      }
    }
  }
  tbody {
    display: block;
    padding-left: rem(12);
    padding-right: rem(12);
    @include media-breakpoint-up(md) {
      display: table-row-group !important;
      padding-left: 0;
      padding-right: 0;
    }
    tr {
      @include media-breakpoint-up(md) {
        border-top: 1px solid $gray-200;
        display: table-row !important;
      }
      @include media-breakpoint-down(md) {
        display: none;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(9),
				&:nth-child(10),
				&:nth-child(11),
				&:nth-child(12) {
					display: flex;
				}
      }
    }
    td {
      padding: rem(12) rem(6);
      text-align: center;
      @include media-breakpoint-up(md) {
				padding: rem(12) rem(24) rem(12) rem(24);
				border: 1px solid #E4E4E4;
      }
      &:first-child {
        // font-weight: 700;
        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }
      &:last-child {
        @include media-breakpoint-up(md) {
          padding-right: 0;
        }
      }
      img {
        max-width: calc(1em * 1.4);
      }
			&.fw-bold {
				@include media-breakpoint-up(md) {
					font-size: rem(16);
				}
			}
    }
    @include media-breakpoint-down(md) {
      tr {
				display: none;
				flex-wrap: wrap;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 200vw;
					left: -50vw;
					height: 1px;
					background-color: #E4E4E4;
					bottom: 0;
				}
        td {
          width: calc(100% / 4);
          display: flex;
          justify-content: center;
          align-items: center;
          // word-break: break-all;
          &:first-child {
            position: relative;
            width: 100%;
            z-index: 2;
						&:after {
							content: '';
							position: absolute;
							display: block;
							width: 200vw;
							left: -50vw;
							height: 1px;
							background-color: #E4E4E4;
							bottom: 0;
						}
          }
        }
      }
    }
  }
  tfoot {
    display: flex;
    @include media-breakpoint-up(md) {
      display: none;
    }
    tr {
      width: 100%;
    }
    td {
      display: block;
      @include mt;
      cursor: pointer;
      text-align: center;
      padding: rem(12);
      font-size: rem(12);
      background-color: $gray-100;
      &:first-child {
        font-weight: 400;
      }
      &:hover {
        color: $primary;
      }
      .icon {
        @include mt;
        color: $primary;
        font-size: rem(14);
        transform: rotate(180deg);
      }
      &.active {
        .icon {
          transform: rotate(0);
        }
        .hide {
          display: inline;
        }
        .show {
          display: none;
        }
      }
      .hide {
        display: none;
      }
      .show {
        display: inline;
      }
    }
  }
	&__title {
		display: flex;
		align-items: center;
		&.fw-bold {
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
		}
	}
	&__toggle {
		font-size: rem(14);
		flex: 0 0 auto;
		margin-left: rem(6);
		width: 1em;
		height: 1em;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23C2C2C2'/%3E%3Cpath d='M7.2632 7.26C7.68986 6.16 8.55986 5.61 9.8732 5.61C10.6265 5.61 11.2232 5.80667 11.6632 6.2C12.1099 6.59333 12.3332 7.08667 12.3332 7.68C12.3332 7.88667 12.3165 8.07667 12.2832 8.25C12.2499 8.42333 12.1932 8.58 12.1132 8.72C12.0332 8.86 11.9599 8.98 11.8932 9.08C11.8332 9.17333 11.7365 9.27 11.6032 9.37C11.4765 9.47 11.3799 9.54333 11.3132 9.59C11.2465 9.63667 11.1365 9.70333 10.9832 9.79C10.8299 9.87667 10.7332 9.93333 10.6932 9.96C10.4865 10.0867 10.3299 10.2167 10.2232 10.35C10.1165 10.4767 10.0632 10.6367 10.0632 10.83C10.0632 10.9567 10.0399 11.0433 9.9932 11.09C9.94653 11.13 9.8632 11.15 9.7432 11.15H9.3432C9.2232 11.15 9.13987 11.13 9.0932 11.09C9.04653 11.0433 9.0232 10.9567 9.0232 10.83C9.0232 10.4033 9.10653 10.07 9.2732 9.83C9.43986 9.59 9.67653 9.36667 9.9832 9.16C9.99653 9.15333 10.0599 9.11333 10.1732 9.04C10.2932 8.96667 10.3632 8.92333 10.3832 8.91C10.4099 8.89 10.4699 8.84667 10.5632 8.78C10.6565 8.70667 10.7165 8.65333 10.7432 8.62C10.7699 8.58667 10.8132 8.53333 10.8732 8.46C10.9399 8.38 10.9832 8.31 11.0032 8.25C11.0232 8.18333 11.0432 8.10667 11.0632 8.02C11.0832 7.92667 11.0932 7.83 11.0932 7.73C11.0932 7.42333 10.9832 7.17667 10.7632 6.99C10.5499 6.80333 10.2432 6.71 9.8432 6.71C9.45653 6.71 9.14986 6.79 8.9232 6.95C8.7032 7.10333 8.5232 7.33667 8.3832 7.65C8.32986 7.77667 8.2732 7.85333 8.2132 7.88C8.15986 7.90667 8.0732 7.9 7.9532 7.86L7.4732 7.69C7.24653 7.61667 7.17653 7.47333 7.2632 7.26ZM9.5932 11.7C9.8332 11.7 9.99986 11.7467 10.0932 11.84C10.1865 11.9333 10.2332 12.1 10.2332 12.34V12.43C10.2332 12.6767 10.1865 12.8467 10.0932 12.94C9.99986 13.0267 9.8332 13.07 9.5932 13.07H9.5132C9.2732 13.07 9.10653 13.0267 9.0132 12.94C8.91986 12.8467 8.8732 12.6767 8.8732 12.43V12.34C8.8732 12.1 8.91986 11.9333 9.0132 11.84C9.10653 11.7467 9.2732 11.7 9.5132 11.7H9.5932Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@include media-breakpoint-up(md) {
			font-size: rem(20);
			margin-left: auto;
		}
	}
  // .tariffs__switch {
  //   display: flex;
  //   // justify-content: center;
  //   align-items: center;
  //   padding-left: 0;
  //   margin-bottom: 0;
  //   min-height: rem(20);
  //   font-weight: 400;
  //   font-size: rem(12);
  //   margin-bottom: rem(24);
  //   @include media-breakpoint-up(md) {
  //     font-size: rem(16);
  //     margin-top: auto;
  //     margin-bottom: rem(8);
  //   }
  //   @include media-breakpoint-up(lg) {
  //     margin-bottom: rem(13);
  //   }
  //   label {
  //     display: flex;
  //     align-items: center;
  //   }
  //   input {
  //     margin-left: rem(10);
  //     margin-right: rem(10);
  //     height: rem(20);
  //     // width: rem(36);
  //     border-radius: rem(30);
  //     margin-top: 0;
  //     background-size: 16px 16px;
  //     background-position: 1px;
  //     background-color: $secondary;
  //     border-color: $secondary;
  //     @include media-breakpoint-up(md) {
  //       margin-left: rem(12);
  //       margin-right: rem(12);
  //     }
  //     &:focus {
  //       box-shadow: none;
  //     }
  //     &:checked {
  //       background-color: $secondary;
  //       border-color: $secondary;
  //       background-position: 93%;
  //     }
  //   }
  // }
  .tariffs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(6);
    text-align: center;
    height: 100%;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
		@include media-breakpoint-up(md) {
			border-radius: 0 0 rem(16) rem(16);
			filter: drop-shadow(0px 5px 10px rgba(25, 28, 31, 0.10));
		}
    &__title {
      display: flex;
      align-items: center;
			font-size: rem(10);
			line-height: 1.25;
			margin-bottom: rem(6);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
      img {
        margin-right: rem(6);
        max-width: calc(1em * 1.4);
      }
    }
    &__price {
      font-weight: 700;
      font-size: rem(12);
      line-height: 135%;
			font-weight: 700;
			margin-bottom: rem(6);
      @include media-breakpoint-up(md) {
        font-size: rem(18);
        line-height: 130%;
      }
    }
		&__price-day {
			color: $green;
      margin-top: auto;
			font-size: rem(8);
			font-weight: 700;
			line-height: 125%;
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
		}
    p {
      margin-bottom: rem(12);
      color: $body-color;
      margin-top: auto;
			font-size: rem(8);
			line-height: 165%;
			@include media-breakpoint-up(md) {
				font-size: rem(12);
			}
    }
		&__discount {
			span {
				@include media-breakpoint-down(md) {
					display: block;
				}
			}
		}
    &__btn {
      width: 100%;

      --bs-btn-font-size: #{rem(12)};
      --bs-btn-padding-y: #{rem(6)};
      --bs-btn-padding-x: #{rem(6)};
      border-radius: rem(8);
      // margin-top: rem(2);
			margin-top: auto;
      @include media-breakpoint-up(lg) {
        --bs-btn-font-size: #{rem(16)};
        --bs-btn-padding-y: #{rem(10)};
        --bs-btn-padding-x: #{rem(10)};
        border-radius: rem(12);
        // margin-top: rem(8);
      }
      &:hover {
        box-shadow: 0 2px 10px rgba(75, 177, 75, 0.5) !important;
      }
    }
  }
}

.custom-dropdown {
	position: relative;
	width: 100%;
	max-width: max-content;
	&:not(:last-of-type) {
		margin-bottom: rem(10);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(20);
		}
	}
	&.active {
		.custom-dropdown__head {
			box-shadow: 0px 5px 10px 0px rgba(25, 28, 31, 0.10);
		}
		.custom-dropdown__content {
			opacity: 1;
			pointer-events: all;
		}
		.custom-dropdown__chevron .icon {
			transform: rotateX(180deg);
		}
	}
	&__head {
		display: flex;
		align-items: center;
		border-radius: 8px;
		border: 1px solid #E4E4E4;
		cursor: pointer;
		font-size: rem(12);
		@include mt;
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
		.icon {
			&-more {
				flex: 0 0 auto;
				font-size: rem(20);
				margin-right: rem(10);
				color: $orange;
				@include media-breakpoint-up(md) {
					font-size: rem(24);
				}
			}
		}
		&:hover {
			background-color: #E4E4E4;
		}
	}
	&__wrap {
		padding: rem(6) rem(20);
		text-align: center;
		display: flex;
    align-items: center;
		@include media-breakpoint-up(md) {
			padding: rem(6) rem(20);
		}
	}
	&__chevron {
		padding: rem(12) rem(15);
		border-left: 1px solid #E4E4E4;
		display: flex;
		@include media-breakpoint-up(md) {
			padding: rem(14) rem(15);
		}
		.icon {
			@include mt;
			color: $orange;
			font-size: rem(12);
		}
	}
	&__content {
		@include mt;
		position: absolute;
		width: calc(100vw - rem(45));
		left: 0;
		top: calc(100% + rem(10));
		border: 1px solid #F6F7FA;
		border-radius: rem(8);
		background-color: #fff;
		box-shadow: 0px 2px 10px 0px rgba(25, 28, 31, 0.10);
		opacity: 0;
		pointer-events: none;
		z-index: 10;
		max-height: rem(550);
		overflow-y: auto;
		overflow-x: hidden;
		@include media-breakpoint-up(md) {
			width: 100%;
		}
	}
	&__link {
		@include mt;
		font-size: rem(12);
		line-height: 1.42;
		padding: rem(9) rem(15);
		cursor: pointer;
		@include media-breakpoint-up(md) {
			font-size: rem(14);
			padding: rem(9.5) rem(19);
		}
		&:not(:last-child) {
			border-bottom: 1px solid #F6F7FA;
		}
		&:hover {
			background-color: #F6F7FA;
		}
	}
}