 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}




.nav-chat{
	border-right: 1px solid #EBEBEB;
	overflow-y: auto;
	font-size: 14px;
	background-color: #fff;
	padding-bottom: calc(env(safe-area-inset-bottom, 30px) + #{rem(20)});
	li{
		margin: rem(15) rem(15);
		list-style: none;
	}
	.btn{
		display: block;
		padding: 0;
		position: relative;
		border: none;
		height: rem(50);
		width: rem(50);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(12);
		font-weight: bold;
		font-size: rem(20);
		@include mt;
		&:hover{
			border-radius: 50%;
			img{
				border-radius: 50%;

			}
			// clip-path: circle(50% at 50% 50%);
		}
		
		img{
			@include mt;
			@extend .res-i;
			border-radius: rem(12);
		}
		&::before{
			content: '';
			position: absolute;
			left: rem(-15);
			height: 100%;
			width: 2px;
			background-color: #191c1f;
			@include mt;
			opacity: 0;
		}
		// &:hover,
		&.active{
			&::before{
				opacity: 1;
			}
		}
		// color: #fff !important;
	}
	.btn-orange{
		font-size: 2.2rem;
		font-weight: normal;
	}
	&__counter{
		position: absolute;
		right: 0;
		top: 0;
		background-color: $danger;
		color: #fff;
		font-size: rem(12);
		width: rem(20);
		height: rem(20);
		border-radius: 50%;
		padding-top: rem(1);
	}
}
.nav-main-wrap{
 position: relative;
 min-width: rem(80px) ;
}
.nav-main{
	display: flex;
	flex-direction: column;
	--sp-x: #{rem(20)};
	--link-w: calc(var(--nav-main-w) - var(--sp-x) * 2);
	padding: rem(15) rem(20) calc(env(safe-area-inset-bottom, 0px) + #{rem(15)});
	border-right: 1px solid #EBEBEB;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	height: 100vh;
	@include media-breakpoint-down(xl){
	width: var(--nav-main-w);
	}
	font-size: 14px;
	@include media-breakpoint-up(xxl) {
		position: relative;
	}
	@include media-breakpoint-only(xl) {
		.icon-chevron-down {
			opacity: 0;
			pointer-events: none;
		}
	}
	@include media-breakpoint-only(xl){

		position: absolute;
		&:not(.hover) {
			.nav-main__ddgroup-wrap{
				display: none !important;
			}
		}
		&.hover{
			--tr:0;
			--link-small: var(--link-w);
			.icon-chevron-down {
				opacity: 1;
				pointer-events: all;
			}
			.nav-main__ddgroup-wrap {
				width: auto;
			}
		}
	}
	position: relative;
	// left: var(--nav-chat-w);
	// right: 0;
	left: 0;


	ul{
		
		list-style: none;
	}
	li{
		margin-bottom: 5px;
	}
	&__link{
		display: flex;
		color: $body-color  !important;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		@include media-breakpoint-up(xxl) {

			padding: rem(10) rem(22);
			width: var(--link-w);
		}
		width: var(--link-small, var(--link-hide) );
		padding: rem(8) rem(8);
		border-radius: 8px;
		.icon{
			font-size: rem(24);
			color: var(--color, currentColor);
			@include mt;
			&-document{
				stroke: currentColor;
				stroke-width: 2px;
				fill: none !important;
			}
		}
		&:hover,
		&.active{
			background: #F6F6F6;
			--color: #{$orange};
		}
		&--js {
			position: relative;
			.icon-chevron-down {
				@include mt;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: rem(12);
				right: 10px;
				color: $orange;
			}
			&.active {
				.icon-chevron-down {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	&___icon-wrap{
		text-align: center;
		width: rem(26);
		flex:  0 0 auto;
	}
	&__text{
		margin-left: rem(12);
		display: flex;
		
		align-items: center;
		.badge{
			margin-left: rem(5);
			font-size: rem(12); 
		}
	}
	&__text,
	.icon-setting{
		@include mt;
		position: relative;
		// transform: translateX(var(--tr, 50px));
		@include media-breakpoint-up(xxl){
			--tr:0;
		}
	}
	ul{
		flex-grow: 1;
	}
	&__ddgroup-wrap {
		// @include mt;
		display: none;
		padding: rem(20) rem(20) rem(20) rem(0);
		margin-bottom: rem(15);
		border-bottom: 1px solid #EBEBEB;
		@include media-breakpoint-up(xxl) {
			padding-left:   rem(22); 
		}
		padding-left: rem(8);
		@include media-breakpoint-only(xl) {
			width: 40px;
		}
		&.active {
			display: block;
		}
		a {
			display: block;
			color: $gray-900;
			@include media-breakpoint-only(xl) {
				white-space: nowrap;
			}
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			&:hover, &.active {
				color: $orange;
			}
		}
	}
}

.cabinet-btn{
	display: flex;
	align-items: center;
	--bs-link-color: #{#8C8D8F}; 
	--bs-link-hover-color: #{$orange}; 
	
	position: relative;
	overflow: hidden;
	
	@include media-breakpoint-up(xxl) { 
		width: var(--link-w);
	}
	width: var(--link-small, var(--link-hide) );
	
	&__icon-wrap{
		background: #F6F6F6;
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex:  0 0 auto;
		.icon{
			
			color: #c2c2c2;
		}
	}
	.icon{
		font-size: rem(24);
		
	}
	&__text{
		color: $body-color;
		margin-left: rem(10); 
		// flex-grow: 1;
		margin-right: auto;
		width: calc(100% - #{rem(40 + 10 + 10 + 24) }) ;
		@include mt;
		position: relative;
		// transform: translateX(var(--tr, 50px));
		@include media-breakpoint-up(xxl){
			--tr:0;
		}
	}
	&__name{
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	&__id{
		color: $secondary;
		.icon{

		}
	}
	.icon-setting{
		font-size: rem(24);
		margin-left: rem(10);
		// color: #8C8D8F;
	}
}
.card{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border: 1px solid #EBEBEB;
	border-radius: rem(12px);
	@include mt;
	position: relative;
	@include media-breakpoint-up(xxl) {
		
		padding: rem(20px) rem(30px);
	}
	padding: rem(20px) rem(20px);
	&:hover{
		box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
		--op: 1;
	}
	min-height: 100%;
}

.chat-item{
	text-align: center;
	z-index: 2;
	@extend .card;
	


	&__head{
		margin-bottom: rem(20);
		* {
			z-index: 2;
			position: relative;
		}
	}
	&__footer{
		.strong{
			font-size: 1rem;
		}
		* {
			z-index: 2;
			position: relative;
		}
		flex-grow: 1;
		margin-bottom: rem(20);
	}
	&__tooltip{
		display: inline-block;
		cursor: pointer;
		position: relative;
		&:hover{
			--show: true;
		}
		.icon{
			color: $primary;
			// fill: none;
			// stroke: ;
		}
	}
	&__tooltip-dropdown{
		position: absolute;
		@include a-cent1(x);
		bottom: calc(100% +  12px);
		background: rgba($color: #191C1F, $alpha: .7);
		border-radius: 6px;
		color: #fff;text-align: center;
		width: rem(130);
		font-size: rem(12);
		padding: rem(10);
		line-height: calc(14 / 12);
		@include mt;
		opacity: var(--show, 0);
		visibility: var(--show, hidden);
		@include media-breakpoint-down(md){
			margin-left: 20px;
		}
		&::before{
			content: '';
			top: 100%;
			@include a-cent1(x);
			@include triangle(10px, rgba($color: #191C1F, $alpha: .7), down);
			@include media-breakpoint-down(md){
				margin-left: -20px;
			}
		}
	}
	&__btn{
		width: 100%;
		z-index: 2;
		// position: relative;
		position: relative;
		* {
		}
		
	}
	&__btn-wrap{
		position: relative;
		.btn-primary{
			position: absolute;
			left: 0;
			top: 0;
			@include mt;
			opacity: var(--op, 0);
		}
	}
}

.btn-center{ 
		display: inline-block;
		padding: 0; 
		border: none;
		height: rem(120);
		width: rem(120);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(20);
		font-weight: bold;
		font-size: rem(60);
		margin-bottom: rem(20);
		position: static;
		z-index: 1;
		img{
			border-radius: rem(20);

		}
		&::before{
			content: '';
			@include a-cent;
			// z-index: -1;
		}
		// &:hover,
		&.active{
			&::before{
				opacity: 1;
			}
		} 
	}
	
	.chat-item{
	&__center{
		@include a-cent;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}
.chat-item--add-chart{
	position: relative;
	padding: 0 !important;
	padding-top: 100% !important;
	position: relative;
	font-size: 14px;
	&:not(:hover) {
		border-style: dashed;
	}
	
	// padding-bottom: rem(135);
	
	.btn-center{
		height: rem(50);
		width: rem(50);
		font-size: 2.2rem;
		font-weight: normal;
		border-radius: 12px;
		position: static;
		&::before{
			content: '';
			// @include a-cent;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	.strong{
		font-size: 1rem;
	}
}

.qr-code {
	font-size: 14px;
	@include media-breakpoint-up(lg) {
		margin-top: rem(20);
	}
	&__row{
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(15)};
		align-items: center;
	}
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		padding: rem(14);
		width: rem(140);
		box-shadow: 0px 0px 15px rgba(25, 28, 31, 0.1);
		border-radius: 12px;
		@include media-breakpoint-up(xl) {
			padding: rem(20);
			width: rem(200);
		}
		@include media-breakpoint-down(sm) {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			width: 100%;
			max-width: rem(160);
		}
	}
	&__content {
		max-width: rem(470);
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&__title {
		font-weight: 700;
		margin-bottom: rem(10);
	}
	p {
		margin-bottom: rem(10);
	}
	a {
		font-weight: 700;
	}
}

.order-card {
	padding: rem(20);
	position: relative;
	.form-check{
		// display: flex;
		display: inline-flex;
		align-items: center;
		padding-left: 0;
		input{
			margin-right: 10px;
			float: none;
			margin-left: 0;
		}
	}
	@include media-breakpoint-up(xxl) {
		padding: rem(20);
	}
	img {
		width: rem(100);
		border-radius: 12px;
		max-width: 100%;
		@include media-breakpoint-up(lg) {
			width: rem(60);
		}
		@include media-breakpoint-up(xl) {
			width: rem(80);
		} 
	}
	&__row {
		flex-grow: 1;
	}
	&__rate {
		font-size: 12px;
		margin-bottom: rem(5);
		@include media-breakpoint-up(xl) {
			font-size: 14px;
		}
		.icon {
			font-size: rem(12);
			color: $orange;
			margin-right: rem(5);
			vertical-align: baseline;
		}
	}
	&__orders {
		font-size: 12px;
		color: $gray-600;
	}
	&__info {
		margin-bottom: rem(15);
		font-size: 12px;
		a {
			// position: relative;
			display: inline-block;
			margin-bottom: 10px;
			text-decoration: underline;
			font-size: 14px;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&:hover {
				color: $orange;
			}
		}
	}
	&__type {
		font-size: 14px;
	}
	&__food {
		margin-bottom: 5px;
	}
	label {
		position: relative;
		z-index: 2;
		cursor: pointer;
		input {
			cursor: pointer;
			height: rem(16);
			background-color: #C2C2C2;
			border-color: #C2C2C2;
			outline: none;
			// top: 4.5px;
			&:focus {
				box-shadow: none;
			}
		}
		.form-check-label {
			font-size: 12px;
			color: $gray-600;
			line-height: 200%;
		}
	}
	&__tooltips {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		a {
			color: #8C8D8F;
			&:hover {
				// color:#EBEBEB;
				opacity: .5;
			}
			&:not(:last-child) {
				// margin-right: rem(15);
			}
			.icon {
				font-size: 20px;
			}
			.icon-delete {
				color: $red;
			}
		}
	}
	&__sort {
		background-color: $gray-100;
		border-radius: 48px;
		width: 20px;
		height: 20px;
		color: $gray-600;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			font-size: rem(12) !important;
		}
	}
}


.add-photo{
	display: block;
	text-align: center; 
	border: 1px dashed #EBEBEB;
	@include block(640, 354);
	overflow: hidden;
	cursor: pointer;
	&__inner{
		@include a-cent;
		width: 100%;
			// display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;	
	}
	&__text{
		max-width: 490px;
		margin-left: auto;
		margin-right: auto;
		color: #8C8D8F;
		display: block;
		margin-bottom: 15px;
	}
	&__btn{
		@extend .btn, .btn-outline-primary;
		font-weight: bold;
		font-size: 14px;
		width: 132px;
		padding: 7px;
		position: relative;
		z-index: 2;
		&::before{
			content: '';
			@include a-cent;
		}
	}

border-radius: 12px; 
font-size: 14px;
	input{
		@extend .invisible;
	}

	.img-preview{
		position: absolute;
		@include a-cent;
		object-fit: cover;
		width: 100%;
		height: 100%;
		@include mt;
		z-index: 3;
		&:not(.active) {
			// display: none;
			opacity: 0;
		}
	}
}

.add-photo-wrap{
	position: relative;
	&__btn-delete{
		@include a-cent1(x);
		bottom: rem(20);
		z-index: 4;
		width: rem(50);
		height: rem(50);
		border-radius: 50%;
		@extend .btn;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		cursor: pointer;
		.icon{
			color: #fff;
		}
		background: rgba($color: #191C1F, $alpha: .3);
	}
	&:hover &__btn-delete{
		background: rgba($color: #191C1F, $alpha: .7);

	}
}

.table {
	thead {
		tr {
			&:hover {
				box-shadow: none;
			}
		}
	}
}

.drug-wrap-block-js{
	> :first-child{
		.drop-top-js{
			opacity: 0.4;
			pointer-events: none;
		}
	}
	
	> :last-of-type{
		.drop-down-js{
			opacity: 0.4;
			pointer-events: none;
		}
	}

}

.rate-label {
	font-size: 12px;
	margin-bottom: rem(5);
	background-color: rgba($color: $orange, $alpha: .05);
	padding: 5px 10px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	@include media-breakpoint-up(xl) {
		font-size: 14px;
	}
	.icon {
		font-size: rem(12);
		color: $orange;
		margin-right: rem(5);
		// vertical-align: baseline;
		position: relative;
		top: rem(-1.5);
	}
}