extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sMailing/_sMailing.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '11.2 Orders'
	title= title
block pagecontent
	+aside('true')
	+main('Заказы', 'true', 'true')
		+sMailing11-3

	//- block scripts
	//- 	script.
	//- 		try { 
	//- 			var table11 = $('#table-11').DataTable({
	//- 			language: {
	//- 				url,
	//- 				},
	//- 				"lengthChange": false, 
	//- 				info: false,
	//- 				searching: false,
	//- 				// ajax: 'https://gyrocode.github.io/files/jquery-datatables/arrays.json',
	//- 			});
	//- 			$('#btn-example-load-more-11').on('click', function(){   
	//- 				table11.page.loadMore();
	//- 			}); 
	//- 			} catch (error) { 	}