extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sMailing/_sMailing.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '12. Customers '
	title= title
block pagecontent
	+aside('true')
	+main('Пользователи', 'true', 'true')
		+sMailing12
block scripts
	script.
			let checkHead = document.querySelector("th .custom-input__input");
			let checkTd = document.querySelectorAll("td .custom-input__input");

		function getCheck(){

			if (checkHead.checked) {
				console.log(1)
				for (const check of checkTd) {
					check.checked = true
				}
			}
			else {
				console.log(0)
				for (const check of checkTd) {
					check.checked = false
				} 
			}
		}

		getCheck()
		checkHead.addEventListener('change', function(){
			getCheck()
		});
		document.queryCommandValue(".btn-example-load-more").addEventListener('click', function(){
			getCheck()
		});