extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCabinetPanel/_sCabinetPanel.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCreateProduct/_sCreateProduct.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'create-product-6'
	title= title
block pagecontent
	+aside('true')
	+main('Список товаров', '', 'true','Создать товар', 'hide', true)
		.title
			.h2 Создать товар
			.form-check.form-switch
				input#variant.form-check-input(type='checkbox' role='switch')
				label.form-check-label(for='variant') Вариативный товар
		+b.btns-slider-wrapper
			+b.btns-slider--js.swiper
				.swiper-wrapper
					-
						var list = ["Фотографии товара", "Вариации", "Опции", "Бейджи", "Наличие",'Характеристики','Сопутствующие','Дополнительно']
					+e.slide.swiper-slide
						+e.btn.btn.btn-outline-secondary.active(href="#") Основное
					each item in list
						+e.slide.swiper-slide
							+e.btn.btn.btn-outline-secondary(href="#")= item
			+arrow
		+sCreateProduct
			h3 Сопутствующие товары
			+e.wrap
				p Сопутствующие товары будут предлагаться клиенту в&nbsp;корзине, если этот товар будет добавлен в&nbsp;корзину.
				+e.title Выберите сопутствующие товары (не более 3)
				+search()
				mixin item(img, title, food, price, isDisabled)
					+e.product-item
						if isDisabled
							+in-c('checkbox', '', 'product')(disabled)
						else
							+in-c('checkbox', '', 'product')
						+img(`img/${img}`).img
						div
							a(href="#")!= title
							+e.food
								+img(`img/${img == 'food-2.jpg' ? 'cruasan.png' : 'soup.png'}`)
								| 
								!= food
							+e.price!= price
				+e.product-wrap
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽', true)
					+item('food.jpg', 'Прага-Бургер', 'Основные блюда', '350.00 ₽ - 450.00 ₽')
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽')
					+item('food.jpg', 'Прага-Бургер', 'Основные блюда', '350.00 ₽ - 450.00 ₽')
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽')
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽')
					+item('food.jpg', 'Прага-Бургер', 'Основные блюда', '350.00 ₽ - 450.00 ₽')
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽')
					+item('food.jpg', 'Прага-Бургер', 'Основные блюда', '350.00 ₽ - 450.00 ₽')
					+item('food-2.jpg', 'Бургер с котлетой из мраморной говядины с томатным джемом', 'Круассаны', '350.00 ₽ - 450.00 ₽')