extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCabinetPanel/_sCabinetPanel.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCreateProduct/_sCreateProduct.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'create-product-2'
	title= title
block pagecontent
	+aside('true')
	+main('Список товаров', '', 'true','Создать товар', 'hide', true)
		.title
			.h2 Создать товар
			.form-check.form-switch
				input#variant.form-check-input(type='checkbox' role='switch')
				label.form-check-label(for='variant') Вариативный товар
		+b.btns-slider-wrapper
			+b.btns-slider--js.swiper
				.swiper-wrapper
					-
						var list = ["Фотографии товара", "Вариации", "Опции", "Бейджи", "Наличие",'Характеристики','Сопутствующие','Дополнительно']
					+e.slide.swiper-slide
						+e.btn.btn.btn-outline-secondary.active(href="#") Основное
					each item in list
						+e.slide.swiper-slide
							+e.btn.btn.btn-outline-secondary(href="#")= item
			+arrow
		+sCreateProduct
			h3 Фотографии
			+e.wrap
				+e.title Фотографии товара
				p Загрузите не&nbsp;более 5&nbsp;фотографий. Для корректного отображения рекомендуем использовать пропорции 1:1, размер не&nbsp;менее 600&times;600&nbsp;px. Изображение в&nbsp;формате jpeg и&nbsp;png весом не&nbsp;более 5&nbsp;мб.
				+e.img-row.row
					+e.img-col.col-4.col-sm
						+b.LABEL.avatar-block.add-photo--3.bg-wrap
							input(type="file", name="" onchange="loadFile(event)")
							img(src="img/food.jpg", alt="").img-bg.img-preview.active
							+icon('add2')
							+e.btn-delete.photo-file-delete-js
								+icon("trash-can")
						.small.text-center.text-secondary Основное фото
					+e.img-col.col-4.col-sm
						+b.LABEL.avatar-block.add-photo--3.bg-wrap
							input(type="file", name="" onchange="loadFile(event)")
							img(src="img/food-3.jpg", alt="").img-bg.img-preview.active
							+icon('add2')
							+e.btn-delete.photo-file-delete-js
								+icon("trash-can")
					- for(let i = 0; i < 3; i++)
						+e.img-col.col-4.col-sm
							+b.LABEL.avatar-block.add-photo--3.bg-wrap
								input(type="file", name="" onchange="loadFile(event)")
								img(src="", alt="").img-bg.img-preview
								+icon('add2')
								+e.btn-delete.photo-file-delete-js
									+icon("trash-can")
				.invalid-feedback Текст ошибки. Например загруженное изображение не соответствует требованиям.