extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '3. Create bot'
	title= title
block pagecontent
	+b.cabinet-block.section
		+e.head.row
			.col-sm-auto.h1.strong.mb-0 Создание чат-бота
			.col.p-0.m-0
			.col-auto.m-0
				+b.link-close(href="#")
					+icon("close")
		+e.body
			+form-wrap
				
				+gr(`Введите токен`)
					+input('5467484101:AAFmsPni4fqS38OCh8Z0KWWhPCIW5dRElTc')
				+gr(`Как получить токен?`)
					ol.small
						li Зайдите в&nbsp;Telegram и&nbsp;запустите чат-бота #[a(href="#")  @BotFather].
						li Отправьте ему команду ‘#[em.strong /newbot]’, что означает “создать бота”.
						li Далее отправьте ему название вашего чат-бота, как правило это название заведения, вы&nbsp;также можете использовать эмоджи. Например, &lsquo;#[em.strong Хорошая пицца] 🍕&rsquo;. В&nbsp;будущем вы&nbsp;сможете вернуться к&nbsp;редактированию названия чат-бота.
						li Далее отправьте ему юзернейм вашего чат-бота на&nbsp;латинице, например &lsquo;#[em.strong  moyrestoran_bot]&rsquo; или &lsquo;#[em.strong moyrestoranbot]&rsquo;. Помните что в&nbsp;конце названия чат-бота должно фигурировать слово &lsquo;#[em.strong bot]&rsquo;, также имя бота должно быть уникальным. В&nbsp;противном случае попытка регистрации чат-бота будет неудачна. Внимание: юзернейм чат-бота нельзя будет изменить в&nbsp;будущем.
						li Если вы&nbsp;все сделали правильно, бот #[a(href="#") @BotFather ]отправит вам сообщение в&nbsp;котором будет ваш API TOKEN, например: &lsquo;#[em.strong 5467484101:AAFmsPni4fqS38OCh8Z0KWWhPCIW5dRElTc]&rsquo;.
				br 
				button.btn.btn-orange.btn-200.btn-mob-100.btn-save-js(type="button") Продолжить
				button.btn.btn-orange.btn-200.btn-mob-100.btn-on-load(type="button") Продолжить

		+save-alert()