extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= ' 5.3 Balance'
	title= title
block pagecontent
	+b.cabinet-block.section
		+e.head.row
			.col-sm-auto.h1.strong.mb-0 История пополнений
			.col.p-0.m-0
			.col-auto.m-0
				+b.link-close(href="#")
					+icon("close")
		+e.body
			table.table
				thead
					tr.small
						th Дата
						th.text-end Сумма
				tbody 
					- for (var x = 0; x < 3; x++)
						tr
							td 18:32, 22.06.222
							td.text-end.text-success + 3 000 ₽
