// start .sReplenishment
.sReplenishment {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	max-width: rem(710);
	@include media-breakpoint-up(sm) {
		text-align: left; 
	}
	text-align: center;
	h1{
		@include rfs(24px);
	}
	.form-wrap{ 
		margin-bottom: 20px;
		position: relative;
		&__input-wrap{
			position: relative;
			&::after{
				content: ' ₽';
				position: absolute;
				@include media-breakpoint-up(sm){

					right: rem(220);
				}
				right: 0;
				font-weight: bold;
				top: 0;
				@include rfs(40px);
			}
		}
		.form-wrap__input-wrap-border{
			background-color: $orange;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			@include mt;
			transform-origin: left;
			transform: scaleX(0);
		}
		&__input:focus ~ .form-wrap__input-wrap-border{
			transform: scaleX(1);
		}
		&__input{
			border-top: none !important;
			border-left: none !important;
			border-right: none !important;
			border-radius: 0;
			padding: 0;
			padding-bottom: rem(10);
			padding-right: rem(40);
			padding-left: rem(40);
			position: relative;
			
			@include media-breakpoint-up(sm) { 
				padding-right: rem(260);
				text-align: left;
				padding-left: 0;
			} 
			text-align: center;
			box-shadow: none !important;
			@include rfs(40px);
			font-weight: bold;
			&:focus{
				// border-color: $orange;
			}
			&::placeholder{
				color: #EBEBEB;

			}
		}
	}
	.btn{
		width: 100%;
		@include media-breakpoint-up(sm) {

			width: rem(200);
			position: absolute;
			right: 0;
			top: 0;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		height: rem(50);
		.icon{
			margin-right: rem(5);
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sReplenishment