// start .sReplenishment
.sReplenishment {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	max-width: rem(710);
	h1{
		@include rfs(24px);
		font-weight: 700;
	}
	.form-wrap{ 
		margin-bottom: 20px;
		position: relative;
		&__input-wrap{
			position: relative;
			// &::after{
			// 	content: ' ₽';
			// 	position: absolute;
			// 	@include media-breakpoint-up(sm){

			// 		right: rem(220);
			// 	}
			// 	right: 0;
			// 	font-weight: bold;
			// 	top: 0;
			// 	@include rfs(40px);
			// }
		}
		.form-wrap__input-wrap-border{
			background-color: $orange;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			@include mt;
			transform-origin: left;
			transform: scaleX(0);
		}
		&__input:focus ~ .form-wrap__input-wrap-border{
			transform: scaleX(1);
		}
		&__input{
			border-top: none !important;
			border-left: none !important;
			border-right: none !important;
			border-radius: 0;
			padding: 0;
			padding-bottom: rem(10);
			padding-right: rem(40);
			// padding-left: rem(40);
			position: relative;
			
			@include media-breakpoint-up(sm) { 
				padding-right: rem(260);
				padding-left: 0;
			} 
			box-shadow: none !important;
			@include rfs(40px);
			font-weight: bold;
			&:focus{
				// border-color: $orange;
			}
			&::placeholder{
				color: #F6F7FA;

			}
		}
		.invalid-feedback, .valid-feedback {
			display: block;
			font-size: rem(14);
			margin-bottom: rem(10);
		}
	}
	.btn{
		width: 100%;
		@include media-breakpoint-up(sm) {

			width: rem(200);
			position: absolute;
			right: 0;
			top: 0;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		height: rem(50);
		.icon{
			margin-right: rem(5);
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__wrap {
		@include roww('10px', m);
		display: flex;
	}
	&__pay-method {
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
		.row {
			--bs-gutter-x: #{rem(10)};
		}
		p {
			margin-bottom: rem(15);
			font-weight: 400;
		}
		.custom-input {
			@include block(160, 135);
			width: 100%;
			max-width: rem(160);
			padding-left: 0;
			margin-bottom: 0;
			border: 1px solid #E4E4E4;
			border-radius: 8px;
			@include media-breakpoint-up(sm) {
				--ratio: 135/180;
				max-width: rem(180);
			}
			&__input {
				position: absolute;
				top: rem(10);
				right: rem(10);
				width: rem(24);
				height: rem(24);
				border-radius: 50%;
				border: 1px solid #E4E4E4;
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: rem(12);
					height: rem(12);
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					border-radius: 50%;
					background-color: transparent;
				}
				&:checked {
					background-image: none;
					&:before {
						background-color: $orange;
					}
				}
			}
			&__wrap {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;	
				height: 100%;
				padding: rem(16);
				@include media-breakpoint-up(sm) {
					padding: rem(20);
				}
				img {
					width: 100%;
					max-width: rem(60);
					margin-bottom: rem(16);
					@include media-breakpoint-up(sm) {
						margin-bottom: rem(22);
						max-width: rem(80);
					}
				}
			}
		}
	}
	&__title {
		font-weight: 700;
		line-height: 1.43;
		margin-bottom: rem(10);
	}
	&__autopayment {
		margin-bottom: rem(30);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	.alert {
		--bs-alert-padding-x: #{rem(20)};
    --bs-alert-padding-y: #{rem(15)};
		--bs-alert-margin-bottom: #{rem(30)};

		display: flex;
    align-items: center;
		@include media-breakpoint-up(md) {
			--bs-alert-margin-bottom: #{rem(40)};
		}
		svg {
			margin-right: rem(10);
			font-size: rem(24);
			@include media-breakpoint-up(md) {
				font-size: rem(30);
			}
		}
		p {
			margin-bottom: 0;
			text-align: left;
		}
	}
	&__link-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(5)};
		.col-auto:not(:last-child) {
			a {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: calc(var(--bs-gutter-x) / -2);
					height: 100%;
					width: 1px;
					background-color: #E4E4E4;
				}
			}
		}
	}

	&__head-title {
		margin-bottom: rem(20);
	}
	.topLine {
		border: none;
		&__title {
			display: inline-flex;
			padding: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sReplenishment